
/* - gerais.css - */
/* https://www.conhecimentos.cf/portal_css/gerais.css?original=1 */
/* */
body{background:#FFF;}#visual-portal-wrapper{background:Whitemargin-left:auto;margin-right:auto;}#adsensebox{float:left;display:block;}#portal-logo img{margin-top:7px;margin-bottom:5px;}#portal-searchbox #searchGadget{border:1px solid #000;width:200px;height:14px;padding:5px 5px 5px 7px;}#portal-searchbox .searchButton{background:#fff;border:1px solid #000!important;padding:0!important;width:60px;height:25px;padding-bottom:5px;color:#000!important;text-align:center;}#portal-searchbox .searchSection label{color:#000!important;}.searchSection{display:none;}.template-search h1.documentFirstHeading{background:none!Important;}#portal-breadcrumbs{border-bottom:0 none;}#portal-siteactions{margin-top:15px;padding-left:22px;float:none;}#portal-personaltools{background-color:#FFFcolor:#000border:0 none;}#portal-personaltools li a{color:#000}.portlet{border-bottom:0;margin-bottom:20px;}.portlet .portletItem{border:0;line-height:1.5;padding:0;}#content .portlet,.portlet .portletHeader{border:0;background:transparent;border-bottom:1px solid #bbb;padding-left:7px;line-height:1.5;}.portlet .portletHeader a,.portlet .portletHeader{font-weight:bold;font-size:14px;text-transform:capitalize;background:transparent;text-decoration:none!important;}.portlet .portletFooter a,.portlet .portletFooter a:visited,.portlet .portletFooter{border:0;text-align:left;text-decoration:none!Important;}#content .portletPopoll h5{color:#000;font-size:11px;font-weight:normal;line-height:1.5;}.portletPopoll .portletItem{padding:0!Important;}.portletPopoll .portletFooter{display:none;}.portletPopoll input.context{margin-left:140px;}.ploneCalendar .weekdays th{background-color:transparent;border-color:transparent;}#portal-columns{margin-left:10px;margin-right:10px;}.LSDescr{display:none;}#content a,#content a[href^="http:"],#content a.link-external{background:none!important;padding:1px!important;border-bottom:0!important;text-decoration:underline;color:##840000;}h1.documentFirstHeading{border:0 none;color:#000;font-size:18px;font-weight:bold;}.template-contentpanels_view h1.documentFirstHeading{display:none;}.documentDescription{font-style:italic;font-weight:inherit;line-height:1.5;}.image-left,.image-right,.image-inline{border:0;}.newsImageContainer .discreet{font-size:97%;}select{border:0 none;height:16px;}#portal-siteactions form{display:inline;}.navTreeItem img{display:none;}#portal-columns input{border:1px solid #666;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}.portlets-manager select{width:100%;}.documentActions{border-top:1px solid #000}.documentActions ul{padding-right:0;}.documentActions a{text-decoration:none!important;}.documentActions li{padding:3px;padding-left:20px;margin:0;color:#000}.template-contact-info #portal-column-content{padding-top:50px;}.template-contact-info #portal-column-content #content-plain{margin:0 148px;}dl.searchResults dd{margin-left:0;}form.searchPage{text-align:left;padding-bottom:10px;}input.searchPage{font-size:120%!important;}input.searchButton{background:none;padding:2px 1px!important;font-size:1em;}.searchPage input.searchButton{padding:1px!important;}.context,.documentEditable * .context,.formControls input,.standalone,.documentEditable * .standalone,.kupu-dialog-button,.destructive,.documentEditable * .destructive{background:Whiteborder-color:#000color:#000border-color:#670C07;padding:2px 3px!important;font-weight:bold;}#portal-footer{margin-bottom:0;border:0;}
@media (max-width: 480px){
#portal-column-content,
#portal-column-two {
float: right !Important;
width: 100% !Important;
display: block !Important;
}
#content-plain,
#region-content { width: 100% !Important;}
div#content {
width: 100% !Important;
display: block !Important;
font-size: 20px !Important;
overflow-y: hidden !Important;
}
h1.documentFirstHeading {
background: none !Important;
font-size:33px !Important;
}
#portal-siteactions,
#redes,
#lata,
#portal-searchbox,
#portal-breadcrumbs {display:none;}
body #portal-header {background:transparent !Important;}
img.image-right,
img.image-left {
width:100%;
float:none;}
#portal-logo img {
margin: 0 !Important;
padding: 0 !Important;
padding-bottom:10px !Important;}
.documentContent {
padding: 0 !Important;
}
}
/* */

/* - contentpanels.css - */
@media all {
/* https://www.conhecimentos.cf/portal_css/contentpanels.css?original=1 */
/* */
#region-content .viewlet .portlet{
font-size: 100%
}
.documentContent .portletFooter,
.documentContent .portletItem {
padding: 0.3em;
}
.documentContent .portletItemDetails {
color: #76797c;
font-size: 90%;
margin-top: -0.5em;
}
.cpPanels .cpPanel {
margin: 1em 0 0 0;
}
.cpPanel table:hover {outline:1px solid red !Important;}
.documentContent .viewlet .portlet{
margin: 0 0 0 0;
}
.cpPanelsHeading {
background-color: lavender;
white-space: nowrap;
text-align: right;
}
.cpPanelsHeading .cpPanelsHeadingInput,
.cpPanelHeading .cpPanelsHeadingInput {
float: left;
}
.cpPanelHeading {
background-color: lavender;
}
.cpPanelHeading td {
text-align: right
}
.cpViewletItem a {
white-space: nowrap;
}
.cpViewletItem span {
white-space:nowrap;
background-color: lightgreen;
}
/* */
.cpEditFormInputValues {
float: left;
}
.cpEditFormSubmitButtons {
float: right;
}
.cpRelatedContent li.cpRelatedItem{
display: inline;
}
.cpPages {
float:right;
white-space: nowrap;
margin-top: 0;
}
.cpPages li {
display: inline;
}
.cpPages li a {
font-size: 90%;
background-color: transparent;
border: 1px solid #74ae0b;
color: #578308;
margin-right: 0.5em;
padding: 0em 1em;
text-decoration: none;
text-transform: none;
z-index: 1;
}
.cpPages li.selected a {
background-color: #cde2a7;
color: #578308;
}
.cpPages li a:hover {
background-color: #cde2a7;
color: #578308;
}
/* */
/* */
/* */
.notitlePortletWrapper dt.portletHeader {
display: none;
}
.notitlePortletWrapper .portlet,
.notitlePortletWrapper dd.portletFooter,
.notitlePortletWrapper dd.portletItem{
border: none;
}
/* */
.zopezenPortletWrapper dt.portletHeader {
background-color: White;
font-style: normal;
border: none;
text-transform: capitalize;
border-bottom: 2px solid #FFF;
}
.boxPortletWrapper dl.portlet dd.portletFooter,
.boxPortletWrapper dl.portlet dd.portletItem,
.boxPortletWrapper dl.portlet,
.zopezenPortletWrapper dl.portlet,
.zopezenPortletWrapper dl.portlet dd.portletFooter,
.zopezenPortletWrapper dl.portlet dd.portletItem {
border: none;
}
/* */
.alertPortletWrapper dl.portlet dt.portletHeader{
background: #ffa500;
font-weight: bold;
border-color: #ffa500;
text-transform: uppercase;
background-image: url(https://www.conhecimentos.cf/info_icon.gif);
background-repeat: no-repeat;
background-position: 5px 50%;
padding-left: 2.5em;
}
.alertPortletWrapper dl.portlet dd.portletFooter,
.alertPortletWrapper dl.portlet dd.portletItem {
background-color: #ffce7b;
}
/* */
.dottedPortletWrapper dl.portlet dt.portletHeader{
background: White;
font-weight: bold;
border: none;
padding-left: 0em;
text-transform: capitalize;
color: Black;
border-bottom: 2px dotted #FFF;
}
.dottedPortletWrapper dl.portlet dd.portletFooter,
.dottedPortletWrapper dl.portlet dd.portletItem {
border: 2px dotted #FFF;
border-top:none;
border-bottom: none;
}
.dottedPortletWrapper dl.portlet{
border-bottom: 2px dotted #FFF;
}
.imageNewsImage {
float: left;
margin: 0.5em;
}
.imageNewsTitle {
font-weight:bold;
}
.viewlet-rss-link{
padding-right: 2px;
float: right;
display: block;
}
.cpttableless {
display:block;
float:left;
}
.documentActions,
fieldset.cpEditFormFieldset {border-color: #cecece;}
/* */
}


/* - tabber.css - */
@media all {
/* https://www.conhecimentos.cf/portal_css/tabber.css?original=1 */
/* */  .tabberlive .tabbertabhide {   display:none;  }
.tabber {  }  .tabberlive {      margin-bottom: 1em;  }
ul.tabbernav  {   margin:0;   padding: 1px 0;   border-bottom: 1px solid #74ae0b;   text-align: center;  }
ul.tabbernav li  {   list-style: none;   margin: 0;   display: inline;  }
ul.tabbernav li a  {   padding: 3px 0.5em;   margin-left: 0;   border: 1px solid #74ae0b;   border-style: solid none solid dotted;   text-decoration:
none;   color: #5d8811;   position: relative;   top: 1em;   background-color: White;  }
ul.tabbernav li a:hover  {   background-color: #cde2a7;   border-color: #74ae0b;  }
ul.tabbernav li a:active {   color: #5d8811;  }  ul.tabbernav li.tabberactive a  {   background-color: #cde2a7;   color: #5d8811;  }
ul.tabbernav li.tabberactive a:hover  {   background-color: #cde2a7;  }
.tabberlive .tabbertab {   padding: 1em 0.1em 0.1em 0.1em;   border:1px solid #74ae0b;   border-top:0;
/* */
/* */
/* */
/* */  }
/* */
.tabberlive .tabbertab h2 {   display:none;  }
/* */
#undefinednav1 { border-left: 1px solid #74ae0b;;}
#undefinednav2 { border-right: 1px solid #74ae0b;;}
* html .tabbertab {height: 1%} /* */
.summaryColumn {      border-right: 1px solid #8cacbb;  }
.visualOnlyPrint {display: none;}

}


/* - ploneCustom.css - */
@media all {
/* https://www.conhecimentos.cf/portal_css/ploneCustom.css?original=1 */
/* */
/* */
a, a:hover, a:visited {color: #000;}#portal-header{background:url("https://www.conhecimentos.cf/bg-header-subhomes.gif") no-repeat top left;}#portal-logo img{margin-top:0;padding-left:133px;}#portal-siteactions li{margin-right:10px;}#portal-searchbox{margin-top:0;}#portal-searchbox .searchButton,#portal-searchbox #searchGadget{border:1px solid #A5A5A5!Important;}#portal-searchbox #searchGadget{height:8px;}#portal-searchbox .searchButton{height:20px;margin-top:1px;}}#portal-siteactions{padding-top:483px;border-top:0 solid #a5a5a5;margin-top:-4px;}.section-satanismo #portal-siteactions{background:url("https://www.conhecimentos.cf/titsatanismo.gif") no-repeat;}.section-angeologia #portal-siteactions{background:url("https://www.conhecimentos.cf/titanjos.gif") no-repeat;}.section-paganismo #portal-siteactions{background:url("https://www.conhecimentos.cf/titpaganismo.gif") no-repeat;}.section-sinfonias #portal-siteactions{background:url("https://www.conhecimentos.cf/titsinfonias.gif") no-repeat;}.section-espiritos-fantasmas #portal-siteactions{background:url("https://www.conhecimentos.cf/titfantasmas.gif") no-repeat;}.section-monstruario #portal-siteactions{background:url("https://www.conhecimentos.cf/titcripto.gif") no-repeat;}.section-psico #portal-siteactions{background:url("https://www.conhecimentos.cf/titpsico.gif") no-repeat;}.section-lovecraft #portal-siteactions{background:url("https://www.conhecimentos.cf/titlovecraft.gif") no-repeat;}.section-miscelania #portal-siteactions{background:url("https://www.conhecimentos.cf/titmisc.gif") no-repeat;}.section-sociedades-secretas-e-conspiracoes #portal-siteactions{background:url("https://www.conhecimentos.cf/titconspiracao.gif") no-repeat;}.section-enoquiano #portal-siteactions{background:url("https://www.conhecimentos.cf/titenoque.gif") no-repeat;}.section-demonologia #portal-siteactions{background:url("https://www.conhecimentos.cf/titdemonologia.gif") no-repeat;}.section-vampirismo #portal-siteactions{background:url("https://www.conhecimentos.cf/titvamp.gif") no-repeat;}.section-alta-magia #portal-siteactions{background:url("https://www.conhecimentos.cf/titalta.gif") no-repeat;}.section-magia-do-caos #portal-siteactions{background:url("https://www.conhecimentos.cf/titcaos.gif") no-repeat;}.section-thelema #portal-siteactions{background:url("https://www.conhecimentos.cf/titthelema.gif") no-repeat;}.section-magia-sexual #portal-siteactions{background:url("https://www.conhecimentos.cf/titsex.gif") no-repeat;}.section-cultos-afros #portal-siteactions{background:url("https://www.conhecimentos.cf/titafro.gif") no-repeat;}.section-biografias #portal-siteactions{background:url("https://www.conhecimentos.cf/titbios.gif") no-repeat;}.section-jesus-freak #portal-siteactions{background:url("https://www.conhecimentos.cf/jesus-freak/jesusontop.jpg") no-repeat center 0;}.section-ufologia #portal-siteactions{background:url("https://www.conhecimentos.cf/titalien.gif") no-repeat;}#portal-siteactions li span,#portal-siteactions li a,#portal-siteactions li a:hover{border:0 none;}#portal-siteactions li a:hover{color:#d71e00;}#portal-siteactions select{border:1px solid #A5A5A5;height:20px;}#content .portlet .portletHeader{text-indent:-20000px;border-bottom:0 none;height:88px;margin-bottom:-35px;}#content .portlet .portletItem{margin-left:85px;padding:0;}#content .portlet .portletItem a{padding:0;text-decoration:none;}#content .portlet .portletItem a:hover{color:#d71e00;}#content .lista-textos .portlet .portletHeader{background:transparent url("https://www.conhecimentos.cf/rotulos-listas.gif") no-repeat;}#content .lista-rituais .portlet .portletHeader{background:transparent url("https://www.conhecimentos.cf/rotulos-listas.gif") no-repeat 0 -210px;}
#content .lista-livros .portlet .portletHeader{background:transparent url("https://www.conhecimentos.cf/rotulos-listas.gif") no-repeat 0 -110px;}
#content .lista-brindes .portlet .portletHeader{background:transparent url("https://www.conhecimentos.cf/binders.jpg") no-repeat 0 0;}
#content .lista-maconica .portlet .portletHeader{background:transparent url("https://www.conhecimentos.cf/maconaria.jpg") no-repeat 0 0;}
#content .lista-multimidia .portlet .portletHeader{background:transparent url("https://www.conhecimentos.cf/rotulos-listas.gif") no-repeat 0 -310px;}#content .lista-personalidades .portlet .portletHeader{background:transparent url("https://www.conhecimentos.cf/rotulos-listas.gif") no-repeat 0 -400px;}#content .lista-magia .portlet .portletHeader{background:transparent url("https://www.conhecimentos.cf/sprite-altamagia.png") no-repeat;}#content .lista-hermetismo .portlet .portletHeader{background:transparent url("https://www.conhecimentos.cf/sprite-altamagia.png") no-repeat 0 -110px;}#content .lista-alquimia .portlet .portletHeader{background:transparent url("https://www.conhecimentos.cf/sprite-altamagia.png") no-repeat 0 -210px;}#content #indice .portletHeader{margin-left:-89px;padding-bottom:12px;background:transparent url("https://www.conhecimentos.cf/indice01.gif") no-repeat;}.section-satanismo #content #indice .portletHeader{background:transparent url("https://www.conhecimentos.cf/indicesat.jpg") no-repeat;padding-bottom:28px;}.section-cultos-afros #content #indice .portletHeader{background:transparent url("https://www.conhecimentos.cf/indiceafro.jpg") no-repeat;margin-bottom:-60px;padding-bottom:85px;}.section-alta-magia #content #indice .portletHeader{background:transparent url("https://www.conhecimentos.cf/indicealta.jpg") no-repeat;margin-bottom:-99px;padding-bottom:104px;}.section-angeologia #content #indice .portletHeader{background:transparent url("https://www.conhecimentos.cf/indiceanjos.jpg") no-repeat;margin-bottom:-80px;padding-bottom:85px;}.section-monstruario #content #indice .portletHeader{background:transparent url("https://www.conhecimentos.cf/indicebestario.jpg") no-repeat;margin-bottom:-60px;padding-bottom:85px;}.section-biografias #content #indice .portletHeader{background:transparent url("https://www.conhecimentos.cf/indicebios.jpg") no-repeat;margin-bottom:-35px;padding-bottom:70px;}.section-magia-do-caos #content #indice .portletHeader{background:transparent url("https://www.conhecimentos.cf/indicecaos.jpg") no-repeat;margin-bottom:-60px;padding-bottom:85px;}.section-sociedades-secretas-e-conspiracoes #content #indice .portletHeader{background:transparent url("https://www.conhecimentos.cf/indiceconspiracao.jpg") no-repeat;margin-bottom:-60px;padding-bottom:85px;}.section-demonologia #content #indice .portletHeader{background:transparent url("https://www.conhecimentos.cf/indicedemonologia.jpg") no-repeat;margin-bottom:-60px;padding-bottom:85px;}.section-enoquiano #content #indice .portletHeader{background:transparent url("https://www.conhecimentos.cf/indiceenoquiano.jpg") no-repeat;margin-bottom:-60px;padding-bottom:85px;}.section-ufologia #content #indice .portletHeader{background:transparent url("https://www.conhecimentos.cf/indiceet.jpg") no-repeat;margin-bottom:-120px;padding-bottom:180px;}.section-espiritos-fantasmas #content #indice .portletHeader{background:transparent url("https://www.conhecimentos.cf/indicefantasma.jpg") no-repeat;margin-bottom:-60px;padding-bottom:85px;}.section-jesus-freak #content #indice .portletHeader{background:transparent url("https://www.conhecimentos.cf/indicefreak.jpg") no-repeat;margin-bottom:-60px;padding-bottom:85px;}.section-lovecraft #content #indice .portletHeader{background:transparent url("https://www.conhecimentos.cf/indicelovecraft.jpg") no-repeat;margin-bottom:-60px;padding-bottom:85px;}.section-miscelania #content #indice .portletHeader{background:transparent url("https://www.conhecimentos.cf/indicemiscelania.jpg") no-repeat;margin-bottom:-60px;padding-bottom:85px;}.section-paganismo #content #indice .portletHeader{background:transparent url("https://www.conhecimentos.cf/indicepaga.jpg") no-repeat;margin-bottom:-100px;padding-bottom:85px;}.section-psico #content #indice .portletHeader{background:transparent url("https://www.conhecimentos.cf/indicepsico.jpg") no-repeat;margin-bottom:-60px;padding-bottom:85px;}.section-thelema #content #indice .portletHeader{background:transparent url("https://www.conhecimentos.cf/indicethelema.jpg") no-repeat;margin-bottom:-80px;padding-bottom:85px;}.section-vampirismo #content #indice .portletHeader{background:transparent url("https://www.conhecimentos.cf/indicevamp.jpg") no-repeat;margin-bottom:-60px;padding-bottom:85px;}.section-sinfonias #content #indice .portletHeader{background:transparent url("https://www.conhecimentos.cf/indicesinfonias.jpg") no-repeat;margin-bottom:-60px;padding-bottom:95px;}#content #indice .portletItem ul{list-style:none;}#content #indice .portletItem ul li a:hover,#content #indice .portletItem ul li a:visited,#content #indice .portletItem ul li a{background:transparent url("https://www.conhecimentos.cf/linksubhome.gif") no-repeat left!Important;padding-left:37px!Important;color:#000;}#content #indice .portletItem ul li a:hover{color:#d71e00;}#rodape a,#rodape a:hover,#rodape a:visited,#rodape2 a:visited,#rodape2 a:hover,#rodape2 a{color:#000;text-decoration:none;}#rodape a:hover,#rodape2 a:hover{color:#840000;}#rodape{height:400px;display:block;position:relative;background:transparent url("https://www.conhecimentos.cf/rodape1.png") top left no-repeat;border-top:2px dotted gray;}#rodape2{height:400px;display:block;background:transparent url("https://www.conhecimentos.cf/rodape2.png") top right no-repeat;left:0;position:absolute;top:0;width:100%;}#rodape3{background:#000;color:#FFF;font-family:Times New Roman;padding:5px;text-align:center;font-size:15px;position:absolute;bottom:0;width:99%;text-align:center;}#rodapetopo{display:block;width:500px;position:absolute;top:0;left:500px;z-index:1000;}#rodapetopo .produto{width:30%;float:left;display:block;margin-top:23px;}#rodapefundo{display:block;width:560px;position:absolute;top:210px;left:305px;margin-right:5px;z-index:1000;}.rodapeses{width:22%;float:left;padding-left:5px;padding-right:5px;height:124px;display:block;border-right:2px solid #F0F;}
.highlightedSearchTerm {
background-color:#FFFFAA;
color:#AD1D09;
font-weight:bold;
}
/* */

}

