.anunciooff {display:block;}

.anuncioalt {display:none;}

@media (max-width: 480px){

.anunciooff {display:none !Important;}

.anuncioalt {display:block !Important;}

#portal-column-content,
#portal-column-two {
    float: right !Important;
    width: 100% !Important;
    display: block !Important;
}

#content-plain,
#region-content { width: 100% !Important;}

div#content {
    width: 100% !Important;
    display: block !Important;
    font-size: 20px !Important;
    overflow-y: hidden !Important;
}

h1.documentFirstHeading {    background: none !Important;    font-size:33px !Important;}

#portal-siteactions,
#redes,
#lata,
#portal-searchbox,
#portal-breadcrumbs {display:none;}

body #portal-header {background:transparent !Important;}

img.image-right,
img.image-left {
width:100%;
float:none;}

#portal-logo img {    margin: 0;    padding: 0; padding-bottom:10px;}

#portlet-related li {margin-bottom: 2em;}

.documentContent {padding: 0 !Important;}


}
