
/* - gerais.css - */
/* https://www.conhecimentos.cf/portal_css/gerais.css?original=1 */
/* */
body{background:#FFF;}#visual-portal-wrapper{background:Whitemargin-left:auto;margin-right:auto;}#adsensebox{float:left;display:block;}#portal-logo img{margin-top:7px;margin-bottom:5px;}#portal-searchbox #searchGadget{border:1px solid #000;width:200px;height:14px;padding:5px 5px 5px 7px;}#portal-searchbox .searchButton{background:#fff;border:1px solid #000!important;padding:0!important;width:60px;height:25px;padding-bottom:5px;color:#000!important;text-align:center;}#portal-searchbox .searchSection label{color:#000!important;}.searchSection{display:none;}.template-search h1.documentFirstHeading{background:none!Important;}#portal-breadcrumbs{border-bottom:0 none;}#portal-siteactions{margin-top:15px;padding-left:22px;float:none;}#portal-personaltools{background-color:#fffcolor:#000border:0 none;}#portal-personaltools li a{color:#000}.portlet{border-bottom:0;margin-bottom:20px;}.portlet .portletItem{border:0;line-height:1.5;padding:0;}#content .portlet,.portlet .portletHeader{border:0;background:transparent;border-bottom:1px solid #bbb;padding-left:7px;line-height:1.5;}.portlet .portletHeader a,.portlet .portletHeader{font-weight:bold;font-size:14px;text-transform:capitalize;background:transparent;text-decoration:none!important;}.portlet .portletFooter a,.portlet .portletFooter a:visited,.portlet .portletFooter{border:0;text-align:left;text-decoration:none!Important;}#content .portletPopoll h5{color:#000;font-size:11px;font-weight:normal;line-height:1.5;}.portletPopoll .portletItem{padding:0!Important;}.portletPopoll .portletFooter{display:none;}.portletPopoll input.context{margin-left:140px;}.ploneCalendar .weekdays th{background-color:transparent;border-color:transparent;}#portal-columns{margin-left:10px;margin-right:10px;}.LSDescr{display:none;}#content a,#content a[href^="http:"],#content a.link-external{background:none!important;padding:1px!important;border-bottom:0!important;text-decoration:underline;color:##840000;}h1.documentFirstHeading{border:0 none;color:#000;font-size:18px;font-weight:bold;}.template-contentpanels_view h1.documentFirstHeading{display:none;}.documentDescription{font-style:italic;font-weight:inherit;line-height:1.5;}.image-left,.image-right,.image-inline{border:0;}.newsImageContainer .discreet{font-size:97%;}select{border:0 none;height:16px;}#portal-siteactions form{display:inline;}.navTreeItem img{display:none;}#portal-columns input{border:1px solid #666;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}.portlets-manager select{width:100%;}.documentActions{border-top:1px solid #000}.documentActions ul{padding-right:0;}.documentActions a{text-decoration:none!important;}.documentActions li{padding:3px;padding-left:20px;margin:0;color:#000}.template-contact-info #portal-column-content{padding-top:50px;}.template-contact-info #portal-column-content #content-plain{margin:0 148px;}dl.searchResults dd{margin-left:0;}form.searchPage{text-align:left;padding-bottom:10px;}input.searchPage{font-size:120%!important;}input.searchButton{background:none;padding:2px 1px!important;font-size:1em;}.searchPage input.searchButton{padding:1px!important;}.context,.documentEditable * .context,.formControls input,.standalone,.documentEditable * .standalone,.kupu-dialog-button,.destructive,.documentEditable * .destructive{background:Whiteborder-color:#000color:#000border-color:#670C07;padding:2px 3px!important;font-weight:bold;}#portal-footer{margin-bottom:0;border:0;}
@media (max-width: 480px){
#portal-column-content,
#portal-column-two {
float: right !Important;
width: 100% !Important;
display: block !Important;
}
#content-plain,
#region-content { width: 100% !Important;}
div#content {
width: 100% !Important;
display: block !Important;
font-size: 20px !Important;
overflow-y: hidden !Important;
}
h1.documentFirstHeading {
background: none !Important;
font-size:33px !Important;
}
#portal-siteactions,
#redes,
#lata,
#portal-searchbox,
#portal-breadcrumbs {display:none;}
body #portal-header {background:transparent !Important;}
img.image-right,
img.image-left {
width:100%;
float:none;}
#portal-logo img {
margin: 0 !Important;
padding: 0 !Important;
padding-bottom:10px !Important;}
.documentContent {
padding: 0 !Important;
}
}
/* */

/* - contentpanels.css - */
@media all {
/* https://www.conhecimentos.cf/portal_css/contentpanels.css?original=1 */
/* */
#region-content .viewlet .portlet{
font-size: 100%
}
.documentContent .portletFooter,
.documentContent .portletItem {
padding: 0.3em;
}
.documentContent .portletItemDetails {
color: #76797c;
font-size: 90%;
margin-top: -0.5em;
}
.cpPanels .cpPanel {
margin: 1em 0 0 0;
}
.cpPanel table:hover {outline:1px solid red !Important;}
.documentContent .viewlet .portlet{
margin: 0 0 0 0;
}
.cpPanelsHeading {
background-color: lavender;
white-space: nowrap;
text-align: right;
}
.cpPanelsHeading .cpPanelsHeadingInput,
.cpPanelHeading .cpPanelsHeadingInput {
float: left;
}
.cpPanelHeading {
background-color: lavender;
}
.cpPanelHeading td {
text-align: right
}
.cpViewletItem a {
white-space: nowrap;
}
.cpViewletItem span {
white-space:nowrap;
background-color: lightgreen;
}
/* */
.cpEditFormInputValues {
float: left;
}
.cpEditFormSubmitButtons {
float: right;
}
.cpRelatedContent li.cpRelatedItem{
display: inline;
}
.cpPages {
float:right;
white-space: nowrap;
margin-top: 0;
}
.cpPages li {
display: inline;
}
.cpPages li a {
font-size: 90%;
background-color: transparent;
border: 1px solid #74ae0b;
color: #578308;
margin-right: 0.5em;
padding: 0em 1em;
text-decoration: none;
text-transform: none;
z-index: 1;
}
.cpPages li.selected a {
background-color: #cde2a7;
color: #578308;
}
.cpPages li a:hover {
background-color: #cde2a7;
color: #578308;
}
/* */
/* */
/* */
.notitlePortletWrapper dt.portletHeader {
display: none;
}
.notitlePortletWrapper .portlet,
.notitlePortletWrapper dd.portletFooter,
.notitlePortletWrapper dd.portletItem{
border: none;
}
/* */
.zopezenPortletWrapper dt.portletHeader {
background-color: White;
font-style: normal;
border: none;
text-transform: capitalize;
border-bottom: 2px solid #fff;
}
.boxPortletWrapper dl.portlet dd.portletFooter,
.boxPortletWrapper dl.portlet dd.portletItem,
.boxPortletWrapper dl.portlet,
.zopezenPortletWrapper dl.portlet,
.zopezenPortletWrapper dl.portlet dd.portletFooter,
.zopezenPortletWrapper dl.portlet dd.portletItem {
border: none;
}
/* */
.alertPortletWrapper dl.portlet dt.portletHeader{
background: #ffa500;
font-weight: bold;
border-color: #ffa500;
text-transform: uppercase;
background-image: url(https://www.conhecimentos.cf/info_icon.gif);
background-repeat: no-repeat;
background-position: 5px 50%;
padding-left: 2.5em;
}
.alertPortletWrapper dl.portlet dd.portletFooter,
.alertPortletWrapper dl.portlet dd.portletItem {
background-color: #ffce7b;
}
/* */
.dottedPortletWrapper dl.portlet dt.portletHeader{
background: White;
font-weight: bold;
border: none;
padding-left: 0em;
text-transform: capitalize;
color: Black;
border-bottom: 2px dotted #fff;
}
.dottedPortletWrapper dl.portlet dd.portletFooter,
.dottedPortletWrapper dl.portlet dd.portletItem {
border: 2px dotted #fff;
border-top:none;
border-bottom: none;
}
.dottedPortletWrapper dl.portlet{
border-bottom: 2px dotted #fff;
}
.imageNewsImage {
float: left;
margin: 0.5em;
}
.imageNewsTitle {
font-weight:bold;
}
.viewlet-rss-link{
padding-right: 2px;
float: right;
display: block;
}
.cpttableless {
display:block;
float:left;
}
.documentActions,
fieldset.cpEditFormFieldset {border-color: #cecece;}
/* */
}


/* - tabber.css - */
@media all {
/* https://www.conhecimentos.cf/portal_css/tabber.css?original=1 */
/* */  .tabberlive .tabbertabhide {   display:none;  }
.tabber {  }  .tabberlive {      margin-bottom: 1em;  }
ul.tabbernav  {   margin:0;   padding: 1px 0;   border-bottom: 1px solid #74ae0b;   text-align: center;  }
ul.tabbernav li  {   list-style: none;   margin: 0;   display: inline;  }
ul.tabbernav li a  {   padding: 3px 0.5em;   margin-left: 0;   border: 1px solid #74ae0b;   border-style: solid none solid dotted;   text-decoration:
none;   color: #5d8811;   position: relative;   top: 1em;   background-color: White;  }
ul.tabbernav li a:hover  {   background-color: #cde2a7;   border-color: #74ae0b;  }
ul.tabbernav li a:active {   color: #5d8811;  }  ul.tabbernav li.tabberactive a  {   background-color: #cde2a7;   color: #5d8811;  }
ul.tabbernav li.tabberactive a:hover  {   background-color: #cde2a7;  }
.tabberlive .tabbertab {   padding: 1em 0.1em 0.1em 0.1em;   border:1px solid #74ae0b;   border-top:0;
/* */
/* */
/* */
/* */  }
/* */
.tabberlive .tabbertab h2 {   display:none;  }
/* */
#undefinednav1 { border-left: 1px solid #74ae0b;;}
#undefinednav2 { border-right: 1px solid #74ae0b;;}
* html .tabbertab {height: 1%} /* */
.summaryColumn {      border-right: 1px solid #8cacbb;  }
.visualOnlyPrint {display: none;}

}


/* - ploneCustom.css - */
@media all {
/* https://www.conhecimentos.cf/portal_css/ploneCustom.css?original=1 */
/* */
/* */
a, a:hover, a:visited {color: #000;}#portal-header{background:url("https://www.conhecimentos.cf/bg-header-txt.gif") 23px 7px no-repeat;}.section-sociedades-secretas-e-conspiracoes #portal-header{background:url("https://www.conhecimentos.cf/lataconspira.jpg") 23px 7px no-repeat;}.section-satanismo #portal-header{background:url("https://www.conhecimentos.cf/text-logo-satan.gif") 23px 7px no-repeat;}.section-lovecraft #portal-header{background:url("https://www.conhecimentos.cf/latacthulhu.jpg") 23px 7px no-repeat;}.section-cultos-afros #portal-header{background:url("https://www.conhecimentos.cf/afrolata.jpg") 23px 7px no-repeat;}.section-alta-magia #portal-header{background:url("https://www.conhecimentos.cf/lataalta.jpg") 23px 7px no-repeat;}.section-mostruario #portal-header{background:url("https://www.conhecimentos.cf/latabest.jpg") 23px 7px no-repeat;}.section-angeologia #portal-header{background:url("https://www.conhecimentos.cf/latanjo.jpg") 23px 7px no-repeat;}.section-biografias #portal-header{background:url("https://www.conhecimentos.cf/latabios.jpg") 23px 7px no-repeat;}.section-demonologia #portal-header{background:url("https://www.conhecimentos.cf/latdemon.jpg") 23px 7px no-repeat;}.section-vampirismo #portal-header{background:url("https://www.conhecimentos.cf/latavamp.jpg") 23px 7px no-repeat;}.section-magia-do-caos #portal-header{background:url("https://www.conhecimentos.cf/latacaos.jpg") 23px 7px no-repeat;}.section-enoquiano #portal-header{background:url("https://www.conhecimentos.cf/lataenoqui.jpg") 23px 7px no-repeat;}.section-ufologia #portal-header{background:url("https://www.conhecimentos.cf/lataet.jpg") 23px 7px no-repeat;}.section-espiritos-fantasmas #portal-header{background:url("https://www.conhecimentos.cf/latafantasma.jpg") 23px 7px no-repeat;}.section-jesus-freak #portal-header{background:url("https://www.conhecimentos.cf/latafreak.jpg") 23px 7px no-repeat;}.section-paganismo #portal-header{background:url("https://www.conhecimentos.cf/latapaga.jpg") 23px 7px no-repeat;}.section-thelema #portal-header{background:url("https://www.conhecimentos.cf/latathelema.jpg") 23px 7px no-repeat;}.section-miscelania #portal-header{background:url("https://www.conhecimentos.cf/latamiscelania.jpg") 23px 7px no-repeat;}.section-psico #portal-header{background:url("https://www.conhecimentos.cf/latapsico.jpg") 23px 7px no-repeat;}.section-sinfonias #portal-header{background:url("https://www.conhecimentos.cf/latasinfonias.jpg") 23px 7px no-repeat;}#portal-logo img{margin-bottom:28px;margin-top:34px;padding-left:162px;}#portal-searchbox{margin-top:59px;}#portal-siteactions{background:#000;}#portal-siteactions li{margin-right:10px;}#portal-siteactions li span,#portal-siteactions li a,#portal-siteactions li a:hover{background:url("https://www.conhecimentos.cf/txt-spr.gif") no-repeat 0 -529px transparent;border:0 none;color:#FFF;padding-left:15px;}#portal-siteactions li a:hover{color:#d71e00;}#portal-breadcrumbs{border-bottom:1px solid #000;}h1.documentFirstHeading{font-size:25px;border-bottom:1px dashed #000;background:url("https://www.conhecimentos.cf/txt-spr.gif") no-repeat right -496px transparent;padding-right:40px;}#portlet-related a:hover{color:#d71e00;}#portlet-related dt{background:url("https://www.conhecimentos.cf/txt-spr.gif") no-repeat transparent 0 -62px;height:255px;width:160px;padding-top:30px;}#vaquinha{width:227px;height:379px;background:transparent url("https://www.conhecimentos.cf/txt-spr.gif") -311px -62px;}#vaquinha ul{list-style:none;padding-left:47px;padding-top:207px;}#vaquinha ul a,#vaquinha ul a:visited{text-decoration:none;}#clear-space-before-footer{height:53px;background:url(https://www.conhecimentos.cf/txt-spr.gif) no-repeat left top;border-top:1px dashed #000;}
#dsq-global-toolbar,.dsq-missing-permissions {display:none !Important;}
#portal-columns {margin:0px 5px;}
#redes {
left: 550px;
position: absolute;
top: 45px;
width: 101px;
}
elect#subject_existing_keywords {height:200px !Important;}
#redes .fb_iframe_widget iframe {height:63px !Important; width:200px !Important;}
#imglogo {display:none;}
.anunciooff {display:block;}
.anuncioalt {display:none;}
/* */

}

