
/* - gerais.css - */
/* https://www.conhecimentos.cf/portal_css/gerais.css?original=1 */
/* */
body{background:#FFF;}#visual-portal-wrapper{background:Whitemargin-left:auto;margin-right:auto;}#adsensebox{float:left;display:block;}#portal-logo img{margin-top:7px;margin-bottom:5px;}#portal-searchbox #searchGadget{border:1px solid #000;width:200px;height:14px;padding:5px 5px 5px 7px;}#portal-searchbox .searchButton{background:#fff;border:1px solid #000!important;padding:0!important;width:60px;height:25px;padding-bottom:5px;color:#000!important;text-align:center;}#portal-searchbox .searchSection label{color:#000!important;}.searchSection{display:none;}.template-search h1.documentFirstHeading{background:none!Important;}#portal-breadcrumbs{border-bottom:0 none;}#portal-siteactions{margin-top:15px;padding-left:22px;float:none;}#portal-personaltools{background-color:#dee7eccolor:#436976border:0 none;}#portal-personaltools li a{color:#436976}.portlet{border-bottom:0;margin-bottom:20px;}.portlet .portletItem{border:0;line-height:1.5;padding:0;}#content .portlet,.portlet .portletHeader{border:0;background:transparent;border-bottom:1px solid #bbb;padding-left:7px;line-height:1.5;}.portlet .portletHeader a,.portlet .portletHeader{font-weight:bold;font-size:14px;text-transform:capitalize;background:transparent;text-decoration:none!important;}.portlet .portletFooter a,.portlet .portletFooter a:visited,.portlet .portletFooter{border:0;text-align:left;text-decoration:none!Important;}#content .portletPopoll h5{color:#000;font-size:11px;font-weight:normal;line-height:1.5;}.portletPopoll .portletItem{padding:0!Important;}.portletPopoll .portletFooter{display:none;}.portletPopoll input.context{margin-left:140px;}.ploneCalendar .weekdays th{background-color:transparent;border-color:transparent;}#portal-columns{margin-left:10px;margin-right:10px;}.LSDescr{display:none;}#content a,#content a[href^="http:"],#content a.link-external{background:none!important;padding:1px!important;border-bottom:0!important;text-decoration:underline;color:##840000;}h1.documentFirstHeading{border:0 none;color:#000;font-size:18px;font-weight:bold;}.template-contentpanels_view h1.documentFirstHeading{display:none;}.documentDescription{font-style:italic;font-weight:inherit;line-height:1.5;}.image-left,.image-right,.image-inline{border:0;}.newsImageContainer .discreet{font-size:97%;}select{border:0 none;height:16px;}#portal-siteactions form{display:inline;}.navTreeItem img{display:none;}#portal-columns input{border:1px solid #666;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}.portlets-manager select{width:100%;}.documentActions{border-top:1px solid #840000}.documentActions ul{padding-right:0;}.documentActions a{text-decoration:none!important;}.documentActions li{padding:3px;padding-left:20px;margin:0;color:#436976}.template-contact-info #portal-column-content{padding-top:50px;}.template-contact-info #portal-column-content #content-plain{margin:0 148px;}dl.searchResults dd{margin-left:0;}form.searchPage{text-align:left;padding-bottom:10px;}input.searchPage{font-size:120%!important;}input.searchButton{background:none;padding:2px 1px!important;font-size:1em;}.searchPage input.searchButton{padding:1px!important;}.context,.documentEditable * .context,.formControls input,.standalone,.documentEditable * .standalone,.kupu-dialog-button,.destructive,.documentEditable * .destructive{background:Whiteborder-color:#840000color:#436976border-color:#670C07;padding:2px 3px!important;font-weight:bold;}#portal-footer{margin-bottom:0;border:0;}
@media (max-width: 480px){
#portal-column-content,
#portal-column-two {
float: right !Important;
width: 100% !Important;
display: block !Important;
}
#content-plain,
#region-content { width: 100% !Important;}
div#content {
width: 100% !Important;
display: block !Important;
font-size: 20px !Important;
overflow-y: hidden !Important;
}
h1.documentFirstHeading {
background: none !Important;
font-size:33px !Important;
}
#portal-siteactions,
#redes,
#lata,
#portal-searchbox,
#portal-breadcrumbs {display:none;}
body #portal-header {background:transparent !Important;}
img.image-right,
img.image-left {
width:100%;
float:none;}
#portal-logo img {
margin: 0 !Important;
padding: 0 !Important;
padding-bottom:10px !Important;}
.documentContent {
padding: 0 !Important;
}
}
/* */

/* - contentpanels.css - */
@media all {
/* https://www.conhecimentos.cf/portal_css/contentpanels.css?original=1 */
/* */
#region-content .viewlet .portlet{
font-size: 100%
}
.documentContent .portletFooter,
.documentContent .portletItem {
padding: 0.3em;
}
.documentContent .portletItemDetails {
color: #76797c;
font-size: 90%;
margin-top: -0.5em;
}
.cpPanels .cpPanel {
margin: 1em 0 0 0;
}
.cpPanel table:hover {outline:1px solid red !Important;}
.documentContent .viewlet .portlet{
margin: 0 0 0 0;
}
.cpPanelsHeading {
background-color: lavender;
white-space: nowrap;
text-align: right;
}
.cpPanelsHeading .cpPanelsHeadingInput,
.cpPanelHeading .cpPanelsHeadingInput {
float: left;
}
.cpPanelHeading {
background-color: lavender;
}
.cpPanelHeading td {
text-align: right
}
.cpViewletItem a {
white-space: nowrap;
}
.cpViewletItem span {
white-space:nowrap;
background-color: lightgreen;
}
/* */
.cpEditFormInputValues {
float: left;
}
.cpEditFormSubmitButtons {
float: right;
}
.cpRelatedContent li.cpRelatedItem{
display: inline;
}
.cpPages {
float:right;
white-space: nowrap;
margin-top: 0;
}
.cpPages li {
display: inline;
}
.cpPages li a {
font-size: 90%;
background-color: transparent;
border: 1px solid #74ae0b;
color: #578308;
margin-right: 0.5em;
padding: 0em 1em;
text-decoration: none;
text-transform: none;
z-index: 1;
}
.cpPages li.selected a {
background-color: #cde2a7;
color: #578308;
}
.cpPages li a:hover {
background-color: #cde2a7;
color: #578308;
}
/* */
/* */
/* */
.notitlePortletWrapper dt.portletHeader {
display: none;
}
.notitlePortletWrapper .portlet,
.notitlePortletWrapper dd.portletFooter,
.notitlePortletWrapper dd.portletItem{
border: none;
}
/* */
.zopezenPortletWrapper dt.portletHeader {
background-color: White;
font-style: normal;
border: none;
text-transform: capitalize;
border-bottom: 2px solid #dee7ec;
}
.boxPortletWrapper dl.portlet dd.portletFooter,
.boxPortletWrapper dl.portlet dd.portletItem,
.boxPortletWrapper dl.portlet,
.zopezenPortletWrapper dl.portlet,
.zopezenPortletWrapper dl.portlet dd.portletFooter,
.zopezenPortletWrapper dl.portlet dd.portletItem {
border: none;
}
/* */
.alertPortletWrapper dl.portlet dt.portletHeader{
background: #ffa500;
font-weight: bold;
border-color: #ffa500;
text-transform: uppercase;
background-image: url(https://www.conhecimentos.cf/info_icon.gif);
background-repeat: no-repeat;
background-position: 5px 50%;
padding-left: 2.5em;
}
.alertPortletWrapper dl.portlet dd.portletFooter,
.alertPortletWrapper dl.portlet dd.portletItem {
background-color: #ffce7b;
}
/* */
.dottedPortletWrapper dl.portlet dt.portletHeader{
background: White;
font-weight: bold;
border: none;
padding-left: 0em;
text-transform: capitalize;
color: Black;
border-bottom: 2px dotted #dee7ec;
}
.dottedPortletWrapper dl.portlet dd.portletFooter,
.dottedPortletWrapper dl.portlet dd.portletItem {
border: 2px dotted #dee7ec;
border-top:none;
border-bottom: none;
}
.dottedPortletWrapper dl.portlet{
border-bottom: 2px dotted #dee7ec;
}
.imageNewsImage {
float: left;
margin: 0.5em;
}
.imageNewsTitle {
font-weight:bold;
}
.viewlet-rss-link{
padding-right: 2px;
float: right;
display: block;
}
.cpttableless {
display:block;
float:left;
}
.documentActions,
fieldset.cpEditFormFieldset {border-color: #cecece;}
/* */
}


/* - tabber.css - */
@media all {
/* https://www.conhecimentos.cf/portal_css/tabber.css?original=1 */
/* */  .tabberlive .tabbertabhide {   display:none;  }
.tabber {  }  .tabberlive {      margin-bottom: 1em;  }
ul.tabbernav  {   margin:0;   padding: 1px 0;   border-bottom: 1px solid #74ae0b;   text-align: center;  }
ul.tabbernav li  {   list-style: none;   margin: 0;   display: inline;  }
ul.tabbernav li a  {   padding: 3px 0.5em;   margin-left: 0;   border: 1px solid #74ae0b;   border-style: solid none solid dotted;   text-decoration:
none;   color: #5d8811;   position: relative;   top: 1em;   background-color: White;  }
ul.tabbernav li a:hover  {   background-color: #cde2a7;   border-color: #74ae0b;  }
ul.tabbernav li a:active {   color: #5d8811;  }  ul.tabbernav li.tabberactive a  {   background-color: #cde2a7;   color: #5d8811;  }
ul.tabbernav li.tabberactive a:hover  {   background-color: #cde2a7;  }
.tabberlive .tabbertab {   padding: 1em 0.1em 0.1em 0.1em;   border:1px solid #74ae0b;   border-top:0;
/* */
/* */
/* */
/* */  }
/* */
.tabberlive .tabbertab h2 {   display:none;  }
/* */
#undefinednav1 { border-left: 1px solid #74ae0b;;}
#undefinednav2 { border-right: 1px solid #74ae0b;;}
* html .tabbertab {height: 1%} /* */
.summaryColumn {      border-right: 1px solid #8cacbb;  }
.visualOnlyPrint {display: none;}

}


/* - ploneCustom.css - */
@media all {
/* https://www.conhecimentos.cf/portal_css/ploneCustom.css?original=1 */
/* */
/* */
#portal-top{background:#FFF url("https://www.conhecimentos.cf/coelhinha1-lavey.gif") no-repeat right 185px;}#portal-header{background:transparent url("https://www.conhecimentos.cf/papelpolaco.png") repeat-x;}#contentview-local_roles,#contentview-contentrules,#contentview-templates,#contentview-metadata{display:none;}#portal-logo{left:350px;position:absolute;top:0;}#portal-logo img{margin-top:0;}#lata{position:absolute;margin-left:69px;margin-top:68px;z-index:10000;}#slogan{display:block;margin-left:440px;margin-top:171px;position:absolute;text-align:right;width:367px;}#portal-siteactions{margin-top:353px;height:18px;background:#840000;}#portal-searchbox{margin-top:354px;padding-right:5px;}#portal-searchbox .LSResult{left:-17px;margin-top:-301px;border-color:#840000;}#portal-searchbox #searchGadget{border:0 none;}#portal-header #portal-searchbox .searchButton{background:transparent url("https://www.conhecimentos.cf/btbusca.png") no-repeat;border:0!Important;color:#FFF!important;height:31px;text-transform:uppercase;width:82px;}#portal-siteactions{padding:10px 22px 5px 10px;}#portal-siteactions li a,#portal-siteactions li a:hover{background:transparent;background:transparent url("https://www.conhecimentos.cf/separador.gif") no-repeat top left;border:0;padding:5px 5px 5px 15px;color:#fff;text-transform:uppercase;}#portal-breadcrumbs{display:none!Important;}#portal-columns{margin-top:0;margin-left:0;}#portal-column-one{padding-top:27px;background:transparent url("https://www.conhecimentos.cf/sangue1.gif") no-repeat top left;}#portal-column-two{background:transparent url("https://www.conhecimentos.cf/sangue2.gif") no-repeat top left;}.template-search #portal-column-content{padding-top:60px;}.template-default_error_message #content-plain{padding:60px;}#content-views{margin-top:5px;}#portal-column-one .portlet{margin-left:10px;}.template-contentpanels_view #disqus_thread{display:none;}#comentarios a,#comentarios a:visited{color:#840000;}.portletNavigationTree{width:203px;background:transparent url("prazer.gif") no-repeat;padding-top:153px;margin-bottom:0;}.portletNavigationTree .portletHeader,.portletNavigationTree img{display:none;}.portletNavigationTree .portletItem{padding-left:5px;padding-right:5px;}.navTreeItem a:hover,dd.portletItem .navTreeItem a:hover,.navTreeItem a,dd.portletItem .navTreeItem a{color:#FFF!Important;font-weight:bold!Important;border:1px solid #000!Important;text-transform:uppercase;background:#000;}.navTreeItem a:hover,dd.portletItem .navTreeItem a:hover{color:#840000!Important;}.portletNavigationTree .navTreeItem{border-bottom:1px solid #000!Important;}.portletNavigationTree dd{background:#000!Important;}.portletNavigationTree.portlet a.navTreeCurrentItem{border:1px solid #000!Important;color:#560804!Important;background:transparent Important;}.navTreeCurrentItem{background-color:transparent;}.portletNavigationTree .portletItem{background:url("https://www.conhecimentos.cf/besourosuco.jpg") no-repeat scroll center bottom #000!Important;list-style-type:none;padding-bottom:210px;}.portletEvents{background:transparent url("https://www.conhecimentos.cf/agenda.png") no-repeat top right;padding-top:40px;}.portletEvents .portletHeader{display:none;}.portletEvents .portletItem a:visited,.portletEvents .portletItem a{color:#000;}.portletEvents .portletItem{padding-left:25px;padding-right:10px;}.portletEvents .portletFooter{margin:21px 0 0 80px;font-weight:bold;padding-right:0;padding-bottom:92px;}.portletEvents .portletFooter a.tile{color:#840000!Important;}table.listing th,.stx table th{background:none repeat scroll 0 0 #FFF;}.portletPopoll{width:222px;border-bottom:1px solid #840000;}.portletPopoll .portletHeader{background:url("ppl.gif") no-repeat;padding-top:325px;border-bottom:0;}.portletPopoll .portletHeader a{background:#000;color:#fff;padding:5px;text-transform:uppercase;font-weight:normal;}.portletPopoll .portletItem{border-right:1px solid #840000;border-left:1px solid #840000;padding:10px!Important;}.portletPopoll .portletItem input.context{background:transparent url("https://www.conhecimentos.cf/botao.png") no-repeat;border:0!Important;color:#FFF!important;height:27px;text-transform:uppercase;width:70px;margin-top:8px;}.portletCollection .portletHeader{text-indent:-20000px;background:url("https://www.conhecimentos.cf/milagres.gif") no-repeat;height:100px;border-bottom:0;}.portletCollection .portletItem a:hover,.portletCollection .portletItem a:visited,.portletCollection .portletItem a{background:url("https://www.conhecimentos.cf/bullercool.gif") no-repeat;padding-left:25px;color:#000;}.portletCollection .portletItem a:hover{text-decoration:underline;}.portletCollection .portletItem{margin-top:5px;}#rodape a,#rodape a:hover,#rodape a:visited,#rodape2 a:visited,#rodape2 a:hover,#rodape2 a{color:#000;text-decoration:none;}#rodape a:hover,#rodape2 a:hover{color:#840000;}#rodape{height:400px;display:block;position:relative;background:transparent url("https://www.conhecimentos.cf/rodape1.png") top left no-repeat;border-top:2px dotted gray;}#rodape2{height:400px;display:block;background:transparent url("https://www.conhecimentos.cf/rodape2.png") top right no-repeat;left:0;position:absolute;top:0;width:100%;}#rodape3{background:#000;color:#FFF;font-family:Times New Roman;padding:5px;text-align:center;font-size:15px;position:absolute;bottom:0;width:99%;text-align:center;}#rodapetopo{display:block;width:500px;position:absolute;top:0;left:500px;z-index:1000}#rodapetopo .produto{width:30%;float:left;display:block;margin-top:23px;}#rodapefundo{display:block;width:560px;position:absolute;top:210px;left:305px;margin-right:5px;z-index:1000;}.rodapeses{width:22%;float:left;padding-left:5px;padding-right:5px;height:124px;display:block;border-right:2px solid #F0F;}#top10 ol{margin-left:25px;}#top10 ol a:visited,#top10 ol a:hover,#top10 ol a{color:#000;font-size:13px;text-decoration:none;}#top10 ol a:hover{text-decoration:underline;}#top10 #feliz,#top10 #cerebro{margin-left:-10px;}#banner{display:block;width:216px;height:95px;}#banners{text-align:right;background:transparent;}#content .portlet{border-bottom:0 none!Important;}#portlet-blog .portletHeader{height:150px;background:transparent url("https://www.conhecimentos.cf/destaqueshome.gif") no-repeat bottom left;border-bottom:0!Important;}#portlet-blog a:visited,#portlet-blog a{text-decoration:none!Important;color:#840000;}#portlet-blog .portletItem{margin-top:-60px;margin-left:90px;border-bottom:0!Important;}#portlet-blog .portletItem #tituloblog{font-weight:bold;}#portlet-blog .portletItem #descricao p,#portlet-blog .portletItem #descricao a,#portlet-blog .portletItem #descricao a:visited,#portlet-blog .portletItem #descricao{color:#000!Important;display:inline;font-size:11px;}#portlet-blog .portletItem #leiamais{text-align:right;font-size:11px;}#portlet-blog .portletHeader a{display:none;border-bottom:0;}#region-content{padding:0!Important;margin-top:15px;}#portlet-destaque{display:block;height:115px;background:transparent url("https://www.conhecimentos.cf/destaqueshome.gif") no-repeat top left;}#portlet-desejo{display:block;height:200px;background:transparent url("https://www.conhecimentos.cf/destaqueshome.gif") no-repeat left -150px;margin-top:23px;}a.destaque img{float:left;margin-top:10px;margin-right:3px;}a.destaque img.dir{float:right;margin-top:10px;}a.destaque:visited,a.destaque{font-size:11px;color:#000!Important;text-decoration:none!Important;}a.destaque h1, a.destaque h2{font-size:13px;font-weight:bold;margin-top:-12px!Important;color:#840000!Important;border-bottom:0!Important;}a.destaque .leiamais{color:#840000!Important;margin-top:10px;}.section-loja #portal-top{background:#FFF url("https://www.conhecimentos.cf/bloja.png") no-repeat right 189px!Important;}.section-loja #rodape,.section-loja #portal-searchbox,.section-loja #portal-siteactions li{display:none;}.section-loja #portal-siteactions{height:1px!Important;}a#pactos,a#pactos2,{color:#FFF!Important;}
.section-gothporn #content .documentFirstHeading,
.section-gothporn #content .documentFirstHeading,
.section-gothporn #content .documentDescription {display:none;}
#twtr-widget-1 {height:1500px;position:relative;}
#facebookfriends { margin-top: 100px; position: absolute;}
#copyright-racismo-diga-nao #adsensebox {display:none !Important;}
#propa {display:block !Important;position:absolute;height:280px;width:336px;top:0;left:0;z-index:11111;}
#morte-subita #propa {display:none !Important;}
/* */

}

