
/* - base.css - */
@media screen {
/* https://www.conhecimentos.cf/portal_css/base.css?original=1 */
/* */
/* */
body {
font: 69% erdana, Lucida, Helvetica, Arial, sans-serif;
background-color: White;
color: Black;
margin: 0;
padding: 0;
}
table {
font-size: 100%;
}
a {
color: #000;
background-color: transparent;
}
img {
border: none;
vertical-align: middle;
}
p {
margin: 0 0 0.75em 0;
line-height: 1.5em;
}
p img {
border: none;
margin: 0;
}
hr {
border: 0;
height: 1px;
color: #000;
background-color: #000;
margin: 0.5em 0 1em 0;
}
h1, h2, h3, h4, h5, h6 {
color: Black;
font-family: Verdana, Lucida, Helvetica, Arial, sans-serif;
margin: 0.75em 0 0.25em 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
color: Black ! important;
text-decoration: none;
}
h1 {
font-size: 160%;
}
h2 {
font-size: 150%;
}
h3 {
font-size: 125%;
border-bottom: none;
font-weight: bold;
}
h4 {
font-size: 110%;
border-bottom: none;
font-weight: bold;
}
h5 {
font-size: 100%;
border-bottom: none;
font-weight: bold;
}
h6 {
font-size: 90%;
border-bottom: none;
font-weight: bold;
}
ul {
line-height: 1.5em;
padding: 0;
}
ol {
line-height: 1.5em;
padding: 0;
}
li {
margin-bottom: 0.5em;
}
dt {
font-weight: bold;
}
dd {
line-height: 1.5em;
margin-bottom: 1em;
}
abbr, acronym, .explain {
border-bottom: 1px dotted Black;
color: Black;
background-color: transparent;
cursor: help;
}
abbr .explain {
border-bottom: none;
}
q {
font-family: Baskerville, Georgia, serif;
font-style: italic;
font-size: 120%;
}
blockquote {
padding-left: 0.5em;
margin-left: 0;
border-left: 4px solid #000;
color: #76797c;
}
code, tt {
font-family: Monaco, "Courier New", Courier, monospace;
font-size: 120%;
color: Black;
background-color: #FFF;
padding: 0 0.1em;
}
pre {
font-family: Monaco, "Courier New", Courier, monospace;
font-size: 100%;
padding: 1em;
border: 1px solid #000;
color: Black;
background-color: #FFF;
overflow: auto;
}
ins {
color: green;
text-decoration: none;
}
del {
color: red;
text-decoration: line-through;
}
/* */

}


/* - public.css - */
@media screen {
/* https://www.conhecimentos.cf/portal_css/public.css?original=1 */
/* */
/* */
/* */
body.largeText { font-size: 95%; }
body.smallText { font-size: 60%; }
/* */
#portal-column-one .visualPadding {
padding: 2em 0em 1em 2em;
}
#portal-column-two .visualPadding {
padding: 2em 2em 1em 0em;
}
/* */
h1, h2 {
border-bottom: 1px solid #000;
font-weight: normal;
}
/* */
body.kssActive h2.inlineEditable:hover,
body.kssActive h1.inlineEditable:hover,
body.kssActive h2.formlibInlineEditable:hover,
body.kssActive h1.formlibInlineEditable:hover {
padding-bottom: 1px;
}
h3, h4, h5, h6 {
border-bottom: none;
font-weight: bold;
}
.documentFirstHeading {
margin-top: 0;
}
.documentContent {
font-size: 110%;
padding: 1em 1em 2em 1em !important;
background: White;
}
.documentContent ul {
list-style-image: url(https://www.conhecimentos.cf/bullet.gif);
list-style-type: square;
margin: 0.5em 0 0 1.5em;
}
.documentContent ol {
margin: 0.5em 0 0 2.5em;
}
/* */
.documentContent p a {
text-decoration: none;
border-bottom: 1px #ccc solid;
}
.documentContent p a:visited {
color: Purple;
background-color: transparent;
}
.documentContent p a:active {
color: Red;
background-color: transparent;
}
#content a:target {
background-color: #fd7 !important;
}
.documentContent li a {
text-decoration: none;
border-bottom: 1px #cccccc solid;
}
.documentContent li a:visited {
color: Purple;
}
.documentContent li a:active {
color: Red;
}
.documentContent dd a {
text-decoration: none;
border-bottom: 1px #cccccc solid;
}
.documentContent dd a:visited {
color: Purple;
background-color: transparent;
}
.documentContent dd a:active {
color: Red;
background-color: transparent;
}
/* */
/* */
#visual-portal-wrapper {
margin: 0;
padding: 0;
}
/* */
#portal-logo img {
border: 0;
padding: 0;
margin: 1em 0em 1em 2em;
}
/* */
#portal-skinswitcher {
}
#portal-skinswitcher a {
display: block;
float: left;
}
#portal-top {
/* */
margin: 0;
padding: 0;
background-color: transparent;
}
/* */
#portal-siteactions {
background-color: transparent;
white-space: nowrap;
list-style-image: none;
list-style-type: none;
margin: 1px 0 0 0;
height: auto;
line-height: normal;
float: right;
padding: 3px 2em 3px 0;
}
#portal-siteactions li {
display: inline;
}
#portal-siteactions li a {
background-color: transparent;
border: 1px solid White;
color: #76797c;
height: auto;
padding: 0.2em;
margin-right: 0.2em;
text-decoration: none;
text-transform: none;
}
#portal-siteactions li.selected a {
background-color: #FFF;
color: #000;
border: 1px solid #000;
}
#portal-siteactions li a:hover {
background-color: #FFF;
color: #000;
border: 1px solid #000;
}
/* */
#portal-searchbox {
float: right;
clear: right;
background-color: transparent;
margin: 1.5em 0 0 0;
padding: 0 2em 0 0;
text-align: right;
text-transform: none;
white-space: nowrap;
z-index: 2;
}
#portal-advanced-search {
margin-top: 0.2em;
clear: both;
}
#portal-advanced-search a {
color: #76797c;
text-decoration: none;
text-transform: none;
}
/* */
dl.searchResults dt {
font-size: 140%;
font-weight: normal;
}
form.searchPage {
text-align: center;
}
input.searchPage {
font-size: 200% !important;
}
form.searchPage input.searchButton {
background-position:5px 7px;
padding:1px 10px 1px 25px;
}
/* */
.LSRes {
font-family:  erdana, Lucida, Helvetica, Arial, sans-serif;
visibility: visible;
color: #000;
background-color: White;
vertical-align: middle;
display:block;
list-style-image: none;
list-style-type: none;
text-align: left;
min-width: 16.5em;
text-transform: none;
margin-left: 0;
line-height: 1.1em;
}
#LSHighlight,
.LSHighlight {
background-color: #FFF;
border: 1px solid #000;
color: #000;
}
.LSTable {
margin: 1em 0;
}
.LSRow {
border: 1px solid White;
white-space: normal;
padding:0;
margin: 0;
list-style-image: none;
list-style-type: none;
}
.LSRow a {
text-decoration: none;
font-weight:bold;
white-space:nowrap
}
.LSDescr {
color: #76797c;
font-size: 90%;
font-weight: normal;
margin-left: 2.5em;
}
.LSResult {
position: relative;
display: block;
text-align: right;
padding-top: 5px;
margin: 0;
left: 3px;
z-index: 3;
}
.LSShadow {
position: relative;
text-align: right;
}
.livesearchContainer {
background-color: White;
margin-top: 0;
padding: 0 !important;
position: absolute;
right: 0px;
/* */
top: 0;
white-space: normal;
font-family:  erdana, Lucida, Helvetica, Arial, sans-serif;
visibility: visible;
text-align: left;
color: #000;
border: 1px solid #000;
width: 30em;
text-transform: none;
}
* html .livesearchContainer {
padding: 1px !important;
padding-top: 0 !important;
background-color: #000;
border: 0;
}
#livesearchLegend {
line-height: 1em;
margin-top: -2em;
margin-left: -0.1em;
border: 1px solid #000;
border-bottom: 0;
}
* html #livesearchLegend {
margin-top: -1.9em;
margin-left: -8px;
position: relative;
}
/* */
.LSIEFix {
background-color: White;
padding: 0.5em !important;
z-index: 20;
}
.LSBox {
clear: left;
float: left;
text-align: right;
padding-right: 1px;
display:block;
}
#LSNothingFound {
text-align: center;
padding: 2px;
}
.LSBox label {
font-weight: normal;
}
/* */
#portal-globalnav {
background-color: transparent;
padding: 0em 0em 0em 2em;
white-space: nowrap;
list-style: none;
margin: 0;
height: auto;
line-height: normal;
}
#portal-globalnav li {
display: inline;
}
#portal-globalnav li a {
/* */
background-color: transparent;
border-color: #000;
border-width: 1px;
border-style: solid solid none solid;
color: #000;
height: auto;
margin-right: 0.5em;
padding: 0em 1.25em;
text-decoration: none;
text-transform: none;
}
#portal-globalnav li.selected a {
/* */
background-color: #FFF;
border: 1px solid #000;
border-bottom: #FFF 1px solid;
color: #000;
}
#portal-globalnav li a:hover {
background-color: #FFF;
border-color: #000;
border-bottom-color: #FFF;
color: #000;
}
#portal-personaltools {
/* */
background-color: #FFF;
border-top-color: #000;
border-top-style: solid;
border-top-width: 1px;
border-bottom-color: #000;
border-bottom-style: solid;
border-bottom-width: 1px;
line-height: 1.6em;
color: Black;
padding: 0em 3em 0em 3em;
margin: 0;
text-align: right;
text-transform: none;
list-style: none;
}
#portal-personaltools .portalUser {
background: transparent url(https://www.conhecimentos.cf/user.gif) center left no-repeat;
padding-left: 18px;
}
#portal-personaltools .portalNotLoggedIn {
/* */
color: Black;
padding: 0;
background: transparent;
background-image: none;
}
#portal-personaltools li {
color: #000;
margin-left: 1em;
display: inline;
}
#portal-personaltools li a {
text-decoration: none;
color: #000;
}
#portal-personaltools .visualIconPadding {
padding-left: 10px;
}
.visualCaseSensitive {
text-transform: none;
}
#portal-languageselector {
margin: 0 1em 0 1em;
float:right;
}
#portal-languageselector li {
display: inline;
}
#portal-breadcrumbs {
/* */
border-bottom-color: #000;
border-bottom-style: solid;
border-bottom-width: 1px;
padding-left: 2em;
padding-right: 2em;
text-transform: none;
line-height: 1.6em;
}
#portal-breadcrumbs a {
text-decoration: none;
}
.breadcrumbSeparator {
font-size: 120%;
}
.addFavorite {
vertical-align: bottom;
}
.documentEditable {
padding: 0em 1em 1em 1em !important;
margin: 0 -1em;
}
#content-news h1 {
margin-bottom: 1em;
}
/* */
#content h5,
#content h6 {
color: #76797c;
}
.newsItem {
margin-bottom: 1em;
border-bottom: 1px solid #000;
}
.newsImage {
border: 1px solid #ccc;
}
.newsImageContainer {
float:right;
margin: 0 0 0.5em 1em;
width: 202px;
}
.newsContent {
padding: 0 1em 1em 1em;
}
.newsContent ul,
.newsContent li {
display: block;
list-style: none;
list-style-image: none;
margin: 0;
padding: 0;
}
.newsAbout {
display: block;
color: #76797c;
font-size: 90%;
padding: 0;
margin-top: 0;
list-style: none;
list-style-image: none;
float: right;
text-align: right;
}
.newsAbout li {
display: inline;
}
.newsFooter {
}
.newsFooter li {
display: inline;
margin: 0 1em 0 0;
}
.documentActions {
margin: 1em 0;
padding: 0;
text-align: right;
border-top: 1px solid #000;
}
.documentActions ul {
margin: 0;
padding: 0 0.5em;
display: block;
margin-top: -0.9em;
list-style-type: none;
list-style-image: none;
}
.documentActions li {
display: inline;
font-size: 90%;
margin: 0 0.5em;
padding: 0 0.25em;
background-color: White;
}
.documentActions a {
border: none !important;
text-decoration: none;
}
/* */
dl.portalMessage {
font-size: 90%;
background-color: #ffffe3;
border: 1px solid #996;
}
dl.portalMessage a {
color: black;
border: none;
text-decoration: underline;
}
dl.portalMessage dt {
background-color: #996;
font-weight: bold;
float: left;
margin: 0 0.5em 0 0;
padding: 0.5em 0.75em;
color: White;
line-height: 1.25em;
}
dl.portalMessage dd {
padding: 0.5em 0.5em;
margin: 0;
line-height: 1.25em;
}
dl.warning {
border-color: #d80;
}
dl.warning dt {
background-color: #d80;
}
dl.error {
border-color: #d00;
}
dl.error dt {
background-color: #d00;
}
dl.warning {
border-color: #d80;
}
dl.warning dd {
background-color: #fd7;
}
dl.error {
border-color: #d80;
}
dl.error dd {
background-color: #fd7;
}
.documentDescription {
/* */
font-weight: bold;
display: block;
margin: 0em 0em 0.5em 0em;
line-height: 1.5em;
}
.documentByLine {
font-size: 90%;
font-weight: normal;
color: #76797c;
margin-bottom: 0.5em;
}
dl.searchResults span.documentByLine {
display: block;
}
.discussion {
margin-top: 1em;
}
.even {
background-color: #eef3f5;
}
.odd {
background-color: transparent;
}
.visualHighlight {
background-color: #ffc;
}
.discreet {
color: #76797c;
font-size: 90%;
font-weight: normal;
}
.pullquote {
padding: 0 1em 0 1em;
margin: 0 0 1em 1em;
font-weight: bold;
color: #CC9933;
float: right;
width: 35%;
clear: right;
background-color: White;
border-left: 4px solid #000;
}
.callout {
font-weight: bold;
color: #CC9933;
padding: 0px 1em;
}
.notify,
.documentEditable * .notify {
border: 1px solid #ffa500;
}
.card {
background-color: #FFF;
border-color: #000;
border-width: 1px;
border-style: solid;
float: left;
margin: 1em;
text-align: center;
width: 110px;
padding: 1em 0;
}
.card a {
text-decoration: none;
}
.portrait {
background-color: #FFF;
border-color: #000;
border-width: 1px;
border-style: solid;
font-size: 90%;
margin: 0.5em;
padding: 1em 0 0.5em 0;
text-align: center;
width: 100px;
}
.portraitPhoto {
border: 1px solid black;
}
/* */
table.listing,
.stx table {
/* */
border-collapse: collapse;
border-spacing: 0;
border-left: 1px solid #000;
border-bottom: 1px solid #000;
font-size: 90%;
margin: 1em 0em 1em 0em;
}
table.listing th,
.stx table th {
background: #FFF;
border-top: 1px solid #000;
border-bottom: 1px solid #000;
border-right: 1px solid #000;
font-weight: normal;
padding: 0.25em 0.5em;
text-transform: none;
}
table.listing .top {
border-left: 1px solid White;
border-top: 1px solid White ! important;
border-right: 1px solid White ! important;
text-align: right ! important;
padding: 0em 0em 1em 0em;
}
table.listing .listingCheckbox {
text-align: center;
}
table.listing td,
.stx table td {
border-right: 1px solid #000;
padding: 0.25em 0.5em;
}
table.listing a {
text-decoration: none;
}
table.listing a:hover {
text-decoration: underline;
}
table.listing img {
vertical-align: middle;
}
table.listing td a label,
.stx table td a label {
cursor: pointer;
}
/* */
table.vertical {
background-color: White;
}
table.vertical th {
padding: 0.5em;
}
table.vertical td {
border-top: 1px solid #000;
padding: 0.5em;
}
/* */
table.grid td {
border: 1px solid #000;
padding: 0.5em;
}
/* */
table.plain,
table.plain td,
table.plain th {
border: 1px solid #ccc;
padding: 0.5em;
border-collapse: collapse;
}
/* */
.listingBar {
background-color: #FFF;
border-color: #000;
border-style: solid;
border-width: 1px;
padding: 0em 1em;
text-align: center;
text-transform: none;
vertical-align: top;
margin: 1em 0em;
font-size: 94%;
clear: both;
}
.listingBar span.previous,
.listingPrevious {
text-align: left;
float: left;
margin-right: 1em;
}
.listingBar span.next,
.listingNext {
text-align: right;
float: right;
margin-left: 1em;
}
.listingBar img {
vertical-align: middle;
}
.listingBar a {
text-decoration: none;
}
.tileItem {
border-top: 1px solid #000;
padding-top: 0.5em;
margin-top: 0.5em;
}
.tileHeadline {
border: none;
font-size: 110%;
font-weight: bold;
}
.tileHeadline a {
text-decoration: none;
}
.tileBody {
margin-bottom: 0.5em;
}
.tileImage {
float: right;
margin: 0 0 0.5em 0.5em;
border: 1px solid black;
}
.eventDetails {
float: right;
clear: right;
margin: 0 0 0.5em 1em;
}
/* */
/* */
ul.visualNoMarker,
ol.visualNoMarker {
list-style-type: none;
list-style-image: none;
margin: 0.5em 0 0 0;
line-height: 1em;
}
ul.discreet {
list-style-image: none;
list-style-type: disc;
}
textarea.proportional {
font: 100% erdana, Lucida, Helvetica, Arial, sans-serif;
}
.productCredits {
text-align: right;
font-size: 90%;
clear: both;
font-weight: normal;
color: #76797c;
}
#portal-footer {
background-color: #FFF;
border-top: 1px solid #000;
border-bottom: 1px solid #000;
float: none;
line-height: 1.2em;
margin: 2em 0em 1em 0em;
padding: 0.5em 0em 1em 0em;
text-align: center;
}
#portal-footer p {
margin: 0.25em 0;
}
#portal-footer a {
text-decoration: none;
color: #000;
border: none;
}
#portal-footer a:visited {
color: #000;
}
#portal-footer a:hover {
text-decoration: underline;
}
#portal-colophon {
float: none;
margin: 0 0 1em 0;
padding: 0 0 1em 0;
text-align: center;
color: #666;
}
#portal-colophon ul {
list-style-image: none;
list-style-type: none;
}
#portal-colophon ul li {
display: inline !important;
font-size: 90%;
padding: 0 0.75em;
}
#portal-colophon ul li a {
text-decoration: none;
border-bottom: 1px #ccc solid;
color: #666;
}
.feedButton {
display: block;
float: right;
margin-top: 1px;
}
.poweredBy {
display: block;
clear: both;
font-size: 90%;
font-weight: normal;
color: #76797c;
text-align: right;
}
/* */
#portal-sitemap {
list-style: none;
list-style-image: none;
margin: 0;
font-size: 90%;
border: none;
}
#portal-sitemap a {
border: 1px solid White;
}
#portal-sitemap a:hover {
border: 1px solid #000;
}
#portal-sitemap .navTreeLevel1 {
padding-left: 1em;
border-left: 0.5em solid #000;
margin: 0 0 0 0.5em;
}
#portal-sitemap .navTreeLevel2 {
padding-left: 1em;
border-left: 0.5em solid #FFF;
margin: 0 0 0 0.6em;
}
/* */
.photoAlbumEntry {
float: left;
position:relative;
overflow: hidden;
height: 185px;
width: 143px;
margin: 0em;
padding: 0px 6px 0px 9px;
text-align: center;
background-image: url('https://www.conhecimentos.cf/polaroid-single.png');
background-repeat: no-repeat;
}
.photoAlbumEntry img {
border: 1px solid #ccc;
display: block;
margin: 0 auto;
}
.photoAlbumEntryWrapper {
height: 130px;
width: 128px;
margin-bottom: 7px;
}
.photoAlbumEntry a {
display: block;
text-decoration: none;
font-size: 90%;
height: 169px;
width: 130px;
margin: 16px auto 0px;
}
.photoAlbumFolder {
background-image: url('https://www.conhecimentos.cf/polaroid-multi.png');
background-repeat: no-repeat;
}
.photoAlbumEntryTitle {
color: #76797c;
display: block;
width: 128px;
height: 3.6em;
}
/* */
a.link-parent {
display: block;
background: transparent url(https://www.conhecimentos.cf/arrowUp.gif) 4px 5px no-repeat;
padding: 1px 0px 10px 16px;
font-size: 90%;
text-decoration: none;
}
#content .link-category {
color: #74ae0b !important;
}
#content .link-user {
background: transparent url(https://www.conhecimentos.cf/user.gif) 0 1px no-repeat;
padding: 1px 0px 1px 16px;
}
#content .link-comment {
background: transparent url(https://www.conhecimentos.cf/discussionitem_icon.gif) center left no-repeat;
padding: 1px 0px 1px 16px !important; /* */
}
#content .link-anchor {
color: #76797c;
text-decoration: none;
font-weight: normal;
}
#content .link-presentation {
font-size: 90%;
text-align: center;
}
#content .link-wiki-add {
color: red;
}
/* */
#content span.link-external a {
background: transparent url(https://www.conhecimentos.cf/link_icon.gif) 0px 1px no-repeat;
padding: 1px 0px 1px 16px;
}
#content span.link-https a {
background: transparent url(https://www.conhecimentos.cf/lock_icon.gif) 0px 1px no-repeat;
padding: 1px 0px 1px 16px;
}
/* */
#content span.link-mailto  a {
background: transparent url(https://www.conhecimentos.cf/mail_icon.gif) 0px 1px no-repeat;
padding: 1px 0px 1px 16px;
}
#content span.link-news a {
background: transparent url(https://www.conhecimentos.cf/topic_icon.gif) 0px 1px no-repeat;
padding: 1px 0px 1px 16px;
}
#content span.link-ftp a {
background: transparent url(https://www.conhecimentos.cf/file_icon.gif) 0px 1px no-repeat;
padding: 1px 0px 1px 16px;
}
#content span.link-irc a {
background: transparent url(https://www.conhecimentos.cf/discussionitem_icon.gif) 0px 1px no-repeat;
padding: 1px 0px 1px 16px;
}
#content span.link-callto a {
background: transparent url(https://www.conhecimentos.cf/phone_icon.gif) 0px 1px no-repeat;
padding: 1px 0px 1px 16px;
}
#content span.link-webcal a {
background: transparent url(https://www.conhecimentos.cf/event_icon.gif) 0px 1px no-repeat;
padding: 1px 0px 1px 16px;
}
#content span.link-feed a {
background: transparent url(https://www.conhecimentos.cf/rss.gif) 0px 1px no-repeat;
padding: 1px 0px 1px 18px;
}
#content .link-plain {
background-image: none !important;
padding: 0 !important;
}
/* */
.visualGhosted {
opacity: 0.2;
}
body.fullscreen #portal-logo,
body.fullscreen #portal-siteactions {
display: none;
}
body.fullscreen #portal-globalnav {
margin-top: 4em;
}
body.fullscreen #portal-searchbox {
margin: 0.5em 2em 0 0.5em;
padding: 0;
position: relative;
z-index: 3;
}
/* */
.image-left {
float: left;
clear: both;
margin: 0.5em 1em 0.5em 0;
border: 1px solid Black;
}
.image-inline {
float: none;
}
.image-right {
float: right;
clear: both;
margin: 0.5em;
border: 1px solid Black;
}
dd.image-caption {
text-align:left;
padding: 0; margin:0;
}
dl.captioned {
padding: 10px;
}
/* */
#dashboard-info-message {
padding-top: 0.5em;
}
#dashboard {
width: 68em;
}
#dashboard-portlets1,
#dashboard-portlets2,
#dashboard-portlets3
{
float:left;
width:16em;
padding:0.7em 1.3em 0 0;
}
#dashboard-portlets4 {
float:left;
width:16em;
padding-top:0.7em;
}
#dashboard-portlets1 a,
#dashboard-portlets2 a,
#dashboard-portlets3 a,
#dashboard-portlets4 a {
border-bottom:medium none;
}
#dashboard-portlets1 dl.portlet,
#dashboard-portlets2 dl.portlet,
#dashboard-portlets3 dl.portlet,
#dashboard-portlets4 dl.portlet {
margin-bottom:1.5em;
}
div.managedPortlet.portlet {
border-bottom:none;
}
#dashboard select {
width:100%;
}
.portletAssignments {
margin-top:1.5em;
}
#dashboard-portlets1 div.managedPortlet a,
#dashboard-portlets2 div.managedPortlet a,
#dashboard-portlets3 div.managedPortlet a,
#dashboard-portlets4 div.managedPortlet a {
text-decoration: none;
color: #000;
border-bottom:1px solid #000;
}
#dashboard-portlets1 div.managedPortlet span a,
#dashboard-portlets2 div.managedPortlet span a,
#dashboard-portlets3 div.managedPortlet span a,
#dashboard-portlets4 div.managedPortlet span a{
border-bottom:none;
}
#dashboard-actions {
float:right;
}
#dashboard-actions ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin-top:0;
}
#dashboard-actions ul li {
display:inline;
padding-left:0.7em;
}
#dashboard-actions ul li.portalUser {
padding-left:18px;
}
/* */
.section div {
padding-top:0.5em;
padding-bottom:0.5em;
}
/* */

}


/* - columns.css - */
@media screen {
/* https://www.conhecimentos.cf/portal_css/columns.css?original=1 */
﻿﻿/**/
/* */
body {
min-width: 70em;
}
body.kupu {min-width:0;}
#portal-columns {
width: auto;
margin: 1em 10px;
}
#visual-column-wrapper {
float: left;
width: 100%;
margin-right: -16em;
}
#portal-column-content {
width: 100%;
float: right;
margin-left: -16em;
}
#portal-column-content #content-plain {
margin: 0 16em 0 16em;
}
#portal-column-one {
float: left;
width: 16em;
overflow: hidden;
}
#portal-column-two {
float: right;
width: 16em;
overflow: hidden;
}
/* */
#portal-column-content .visualPadding {
padding: 1em 2em 1em 2em;
}
#portal-column-one .visualPadding {
padding: 1em 0em 1em 2em;
}
#portal-column-two .visualPadding {
padding: 1em 2em 1em 0em;
}
/* */
.visualColumnHideOneTwo #portal-column-content #content-plain {
margin: 0;
}
.visualColumnHideOne #portal-column-content #content-plain {
margin: 0 16em 0 0;
}
.visualColumnHideTwo #portal-column-content #content-plain {
margin: 0 0 0 16em;
}
/* */
body.fullscreen #portal-column-one,
body.fullscreen #portal-column-two {
display: none;
}
body.fullscreen #visual-column-wrapper {
margin-right: 0;
}
body.fullscreen #portal-column-content {
margin-left: 0;
}
body.fullscreen #portal-column-content #content-plain {
margin: 0;
}
/* */
#portal-column-content #content .documentEditable,
#portal-column-content .documentEditable {
margin: 0 0 0 16em;
}
.template-author .visualColumnHideOne #portal-column-content .documentEditable,
.template-personalize_form .visualColumnHideOne #portal-column-content .documentEditable {
margin: 0 1em;
}
/* */
}


/* - authoring.css - */
@media screen {
/* https://www.conhecimentos.cf/portal_css/authoring.css?original=1 */
/* */
/* */
/* */
.contentViews {
background-color: transparent;
padding-left: 1em;
line-height: normal;
margin: 0;
list-style: none;
border: 1px solid #74ae0b;
border-top-width: 0px;
border-left-width: 0px;
border-right-width: 0px;
}
.contentViews li {
display: inline;
padding-top: 0.5em;
}
.contentViews li a {
background-color: transparent;
border: 1px solid #74ae0b;
border-style: solid;
color: #578308;
height: auto;
margin-right: 0.5em;
padding: 0em 1em;
line-height: normal;
text-decoration: none;
text-transform: none;
z-index: 1;
}
.contentViews .selected a {
background-color: #cde2a7;
border-bottom: #cde2a7 1px solid;
color: #578308;
}
.contentViews li a:hover {
background-color: #cde2a7;
color: #578308;
}
.configlet .contentViews {
font-size: 90%;
}
.contentActions {
background-color: #cde2a7;
border-left: 1px solid #74ae0b;
border-right: 1px solid #74ae0b;
color: #578308;
text-align: right;
text-transform: none;
padding: 0 0 0 1em;
z-index: 2;
position:relative;
height: 1.6em;
}
.contentActions ul,
.contentActions li {
margin: 0;
list-style: none;
list-style-image: none;
color: Black;
text-align: left;
line-height: 1.6em;
}
.contentActions li {
float: right;
z-index: 4;
border-left: 1px solid #74ae0b;
}
.contentActions a {
text-decoration: none;
color: #578308;
padding: 0 0.5em;
cursor: pointer;
}
.contentActions span.subMenuTitle {
padding: 0em 0.5em;
position: relative;
white-space: nowrap;
display: inline;
}
.contentActions a span.subMenuTitle {
padding: 0px;
display: inline;
}
.actionMenu {
/* */
position: relative;
margin: 0;
padding: 0;
}
.actionMenu .actionMenuHeader {
margin: 0;
padding: 0;
font-weight: normal;
}
.actionMenu.activated .actionMenuHeader {
position: relative;
z-index: 10;
}
.actionMenu .actionMenuHeader a {
display: block;
}
.arrowDownAlternative {
font-size: 0.85em;
}
.actionMenu .actionMenuContent {
display: none;
z-index: 5;
position: absolute;
top: 1.6em;
right: -1px;
height: auto;
padding: 0;
margin: 0;
}
.actionMenu.activated .actionMenuContent {
display: block !important;
}
.actionMenu.activated .actionMenuContent {
/* */
display: table !important;
border-collapse: collapse;
border-spacing: 0;
}
.actionMenu.deactivated .actionMenuContent {
display: none !important;
}
.actionMenu .actionMenuContent ul {
display: block;
background: #cde2a7;
border: 1px #74ae0b;
border-style: none solid solid solid;
margin: -2px 0 0 0;
padding: 0;
}
.actionMenu .actionMenuContent li {
float: none;
background-color: transparent;
display: inline;
padding: 0;
margin: 0;
border: 0;
}
.actionMenu .actionMenuContent li a {
display: block;
white-space: nowrap;
margin: 0.2em 0;
}
.actionMenu .actionMenuContent .selected {
display: block;
white-space: nowrap;
padding: 0 0.5em;
margin: 0.2em 0;
}
.actionMenu .actionMenuContent li a:hover {
background-color: #74ae0b;
color: White;
}
.actionMenu .actionMenuContent .actionSeparator a {
padding-top: 0.2em;
border-top: 1px solid #74ae0b;
}
#templateMenu li a {
padding-left: 16px;
}
ul.configlets {
margin: 1em 0;
list-style-image: none;
list-style: none;
}
ul.configlets li {
margin-bottom: 1em;
}
ul.configlets li a {
text-decoration: none;
border: none;
}
ul.configlets li a:visited {
color: #000;
background-color: transparent;
}
ul.configlets li a:active {
color: #000;
background-color: transparent;
}
ul.configlets li label {
font-weight: bold;
}
ul.configletDetails {
margin: 0em 1em 1em 4em;
list-style-image: none;
list-style: none;
}
ul.configletDetails li {
margin-bottom: 1em;
display: inline;
}
ul.configletDetails li a {
text-decoration: none;
}
ul.configletDetails li label {
font-weight: bold;
}
ul.configletDetails li.configletDescription {
display: block;
color: #76797c;
font-size: 90%;
margin: 0;
}
/* */
.stx table p {
margin: 0;
padding: 0;
}
.stx table {
border: 1px solid #000 ! important;
}
.stx table td {
border-bottom: 1px solid #000;
}
.reviewHistory,
.contentHistory {
display: inline;
font-size: 110% !important;
color: Black;
}
.comment {
background: #eef3f5;
border: 1px solid #000;
padding: 0.25em 1em 0.5em 1em;
margin-bottom: 1em;
}
.comment h1,
.comment h2,
.comment h3,
.comment h4,
.comment h5,
.comment h6 {
border-bottom: 1px solid #76797c;
font-weight: normal;
}
.comment h3 a {
background-image: url(https://www.conhecimentos.cf/discussionitem_icon.gif);
background-repeat: no-repeat;
padding-left: 18px;
margin-left: -1px;
margin-bottom: 1px;
min-height: 1.6em;
height: auto;
line-height: 1.6em;
}
.commentBody {
margin: 0 1em 1em 1em;
}
.spacer {
margin: 1em;
}
/* */
dl.collapsible {
border: 1px solid #000 !important;
margin: 1em 0 0 0;
padding: 0;
}
dl.collapsible dt.collapsibleHeader {
display: block;
float: left;
background: White;
line-height: 1.2em;
vertical-align: middle;
font-size: 90%;
position: relative;
top: -0.6em;
width: auto;
margin: 0 0 -0.6em 1em;
padding: 0 0.5em;
}
dl.collapsible dd.collapsibleContent {
margin: 0;
padding: 0 1em;
clear: left;
}
/* */
dl.collapsible dd.collapsibleContent > dl {
margin: 0;
padding: 0;
}
dl.expandedInlineCollapsible dt.collapsibleHeader,
dl.expandedBlockCollapsible dt.collapsibleHeader {
padding: 0 6px 0 22px;
background: White url(treeExpanded.gif) no-repeat 6px 50%;
cursor: pointer;
}
dl.collapsedBlockCollapsible {
border: none !important;
height: 1em;
width: auto;
}
dl.collapsedBlockCollapsible dt.collapsibleHeader {
float: none;
position: static;
margin: 0;
padding: 0 0 0 22px;
line-height: 1em;
background: transparent url(treeCollapsed.gif) no-repeat 6px 50%;
cursor: pointer;
}
dl.collapsedInlineCollapsible dd.collapsibleContent,
dl.collapsedBlockCollapsible dd.collapsibleContent {
display: none;
}
dl.collapsedInlineCollapsible {
border: none !important;
height: 1em;
width: auto;
display: inline;
}
dl.collapsedInlineCollapsible dt.collapsibleHeader {
position: static;
float: none;
margin: 0;
padding: 0 0 0 22px;
line-height: 1em;
background: transparent url(treeCollapsed.gif) no-repeat 6px 50%;
cursor: pointer;
display: inline;
}
.configlet .documentEditable {
padding: 0em !important;
}
.documentEditable .documentContent {
border: 1px solid #74ae0b;
padding: 0;
}
.label {
font-weight: bold;
display: inline;
padding-right: 0.5em;
}
.optionsToggle {
border: 1px solid #000;
color: Black;
background-color: #FFF;
font-weight: normal !important;
font-size: 90%;
}
/* */
.portalNotLoggedIn {}
#portal-column-content fieldset > * input:focus,
#portal-column-content fieldset > * textarea:focus {
border-color: #ffa500;
border-width: 1px;
}
/* */
.highlightedSearchTerm {
background-color: #ffa;
}
dl.searchResults .highlightedSearchTerm {
background-color: transparent;
font-weight: bold;
}
/* */
.noInheritedRoles {
color: #a0a0a0;
}
/* */
.currentItem {
border-collapse: collapse;
border: 2px solid #ffa500;
padding: 1px;
}
.managePortletsLink {
display:  block;
color: #76797c;
font-size: 90%;
font-weight: normal;
}
ul.formTabs {
position: relative;
display: block;
margin: 0 0 -2em 0;
padding: 0;
list-style-type: none;
text-align: center;
}
li.formTab {
display: inline;
margin: 0;
padding: 0;
}
li.formTab a {
/* */
display: inline-block;
}
li.formTab a {
border-top: 1px solid #000;
border-bottom: 1px solid #000;
border-left: 1px dotted #000;
background: White;
margin: 0;
padding: 0.125em 0.75em;
text-decoration: none;
}
li.formTab a:visited {
color: #000;
}
li.firstFormTab a {
border-left: 1px solid #000;
}
li.lastFormTab a {
border-right: 1px solid #000;
}
li.formTab a.selected {
background: #FFF;
}
li.formTab a:hover {
background: #FFF;
}
li.formTab a.notify {
background-color: #ffce7b;
color: Black;
}
li.formTab a.required span {
background-image: url(https://www.conhecimentos.cf/required.gif);
background-position: center right;
background-repeat: no-repeat;
padding-right: 8px;
}
li.formTab a.notify:hover {
background-color: #ffa500;
}
.formPanel {
padding: 1em 1em 1em 1em;
border: 1px solid #000;
}
.formPanel.hidden {
display: none;
}
div.formControls input.hidden {
display: none;
}
/* */
#content-history #history dd {
margin-top: 0.8em;
}
#content-history div.historyRecord {
font-size: 90%;
margin-bottom: 10px;
}
#content-history div.historyTools ul {
float: right;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-top: 0;
}
#content-history div.historyTools ul li {
display: inline;
}
#content-history div.historyTools ul li a{
border-bottom: none;
}
#content-history .historyAction {
color: #578308;
}
#content-history .historyByLine {
margin-bottom: 1em;
}
#content-history div.historyComment {
background-color: #FFF;
padding: 0.25em 1em;
}
#content-history div.historyComment p {
color: Black;
margin: 0;
padding-top: 1px;
}
#content-history a.historyComparePrevious {
border-bottom: medium none;
border-top: 1px dotted #000;
display: block;
margin-bottom: -15px;
margin-top: 11px;
}
#content-history dl div.historyRecord a.historyComparePrevious span {
background-color: white;
left: 50%;
position: relative;
top: -1em;
}
/* */
/* */

}


/* - portlets.css - */
@media screen {
/* https://www.conhecimentos.cf/portal_css/portlets.css?original=1 */
/* */
/* */
/* */
.managePortletsFallback {
margin: 0 0 0 1em;
}
/* */
.portlet {
margin: 1px 0 1em 0;
border-bottom: 1px solid #000;
background-color: White;
}
.portlet a {
text-decoration: none;
}
.portlet a.tile {
display: block;
}
.portletItem ul {
list-style-type: none
}
/* */
.portletItem a,
.portletFooter a {
border-bottom: none;
}
.portletItem a:visited,
.portletFooter a:visited {
color: #000;
}
.portletHeader, .managedPortlet .portletHeader {
background-color: #FFF;
border: 1px solid #000;
padding: 0em 1em;
text-transform: none;
font-weight: normal;
line-height: 1.6em;
}
.portletHeader a, .managedPortlet .portletHeader a {
color: Black;
}
.inheritedPortlet .portletHeader {
background-color: transparent;
}
.portletItem {
margin: 0;
padding: 1em;
border-left: 1px solid #000;
border-right: 1px solid #000;
}
.portletItem ol {
margin: 0 0 0 1em;
}
.portletItemDetails {
text-align: right;
display: block;
color: Black;
}
.portletFooter {
background-color: #eef3f5;
margin: 0;
padding: 0.25em 1em;
border: 1px solid #000;
border-style: dotted solid none solid;
text-align: right;
}
/* */
.portletTopLeft {}
.portletTopRight {}
.portletBottomLeft {}
.portletBottomRight {}
.dayPopup {
background-color: #ffffe1;
border: 1px solid Black;
padding: 0.2em;
position: absolute;
visibility: hidden;
width: 12em;
z-index: 2;
}
.date {
font-weight: bold;
}
.portletCalendar {
width: 100%;
margin: 1px 0 1em 0;
width: 100%;
}
.portletCalendar dt {
background-color: #FFF;
font-weight: normal;
text-align: center;
line-height: 1.6em;
border-bottom: none;
}
.portletCalendar dd {
margin: 0;
padding: 0;
}
.portletCalendar a {
text-decoration: none;
}
.portletCalendar a:hover {
text-decoration: none;
}
.ploneCalendar {
border-collapse: collapse;
border-spacing:0;
width: 100%;
}
.ploneCalendar td {
background-color: transparent;
width: 14%;
text-align: center;
padding: 2px;
}
.ploneCalendar .weekdays th {
background-color: #FFF;
border: 1px solid #000;
border-style: solid none;
text-align: center;
padding: 2px;
font-weight: normal;
}
.ploneCalendar .event {
background-color: #FFF;
font-weight: bold;
}
.ploneCalendar .todayevent {
background-color: #FFF;
border: 2px solid #ffa500;
font-weight: bold;
}
.ploneCalendar .todaynoevent {
border-collapse: collapse;
border: 2px solid #ffa500;
}
.managePortletsLink {
text-align: center;
}
div.portlets-manager div.section {
padding-top: 1em !important;
}
div.managedPortlet {
padding-top:0.5em;
padding-bottom:0.5em;
background-color: transparent;
}
.managedPortlet .portletHeader {
min-height: 3em !important;
}
.managedPortlet a {
text-decoration: underline;
}
.managedPortletActions {
display:block;
float:right;
}
.managedPortletActions a {
text-decoration: none;
}
.managedPortletActions a.up,
.managedPortletActions a.down {
color:blue !important;
}
.managedPortletActions a.delete {
color:red !important;
}
/* */
.toc {
float: right;
width: 30%;
font-size: 90%;
margin: 0 0 0.5em 0.5em;
}
.toc .TOC1Digit {
margin-left: 1em;
}
.toc .TOC2Digit {
margin-left: 2em;
}
.toc .TOC3Digit {
margin-left: 3em;
}
/* */
.portletStaticText ul {
list-style-image: url(https://www.conhecimentos.cf/bullet.gif);
list-style-type: square;
margin: 0.5em 0 0 1.5em;
}
.portletStaticText ol {
margin: 0.5em 0 0 2em;
}
/* */
#portal-column-one fieldset.livesearchContainer {
right: inherit !important;
top: 1.5em !important;
}
/* */

}


/* - controlpanel.css - */
@media screen {
/* https://www.conhecimentos.cf/portal_css/controlpanel.css?original=1 */
/* */
.inlineDisplay {
display:inline
}
table.controlpanel-listing {
width:100%;
}
table.controlpanel-listing td, table.controlpanel-listing th {
font-size:120%;
}
table.controlpanel-listing dl {
margin-top:0;
}
table.controlpanel-listing dd {
margin-left: 1em;
}
table.controlpanel-listing dl dt a .trigger{
font-weight:normal;
}
table .controlpanel-listing td {
vertical-align:top;
}
table.controlpanel-listing td.checker{
text-align:center;
}
table.controlpanel-listing th.smallcolumn {
width:1.5em;
}
.chooser-right {
float:right;
margin-right:0 !important;
margin-bottom:0 !important;
}
.rule-element {
background-color:#EEF3F5;
margin:0.5em 0pt 0.5em;
padding:0.3em 1em 0.3em 1em;
width:auto;
}
.rule-element dl {
}
.rule-element dl dd {
margin-left:1em;
}
.rule-updown, .rule-operations {
float:right;
padding-top:0.8em;
}
/* */

}


/* - deprecated.css - */
@media screen {
/* https://www.conhecimentos.cf/portal_css/deprecated.css?original=1 */
/* */
/* */
/* */
/* */
div.portalMessage,
p.portalMessage,
.system-message,
#error-handling {
background-color: #ffce7b;
border: 1px solid #ffa500;
color: Black;
font-size: 90%;
margin: 1em 0em;
padding: 0.5em 1em 0.5em 3em;
vertical-align: middle;
background-image: url(https://www.conhecimentos.cf/info_icon.gif);
background-repeat: no-repeat;
background-position: 5px 50%;
}
/* */

}


/* - navtree.css - */
@media screen {
/* https://www.conhecimentos.cf/portal_css/navtree.css?original=1 */
/* */
/* */
/* */
.portletNavigationTree {
padding: 0;
list-style: none !important;
list-style-image: none !important;
line-height: 1em;
}
.navTree {
list-style: none;
list-style-image: none;
margin-top: 1px;
}
.navTree li {
margin-bottom: 1px;
}
.navTreeItem {
display: block;
padding: 0;
margin: 0;
}
.navTreeItem a,
dd.portletItem .navTreeItem a {
border: 1px solid White;
display: block;
text-decoration: none;
padding-top: 0.2em;
padding-bottom: 0.25em;
}
.navTreeItem a:hover,
dd.portletItem .navTreeItem a:hover {
background-color: #FFF;
color: #000;
border: 1px solid #000;
}
.navTreeCurrentItem {
background-color: #FFF;
color: #000;
border: 1px solid #000 !important;
}
li.navTreeCurrentItem {
display: block;
padding: 0 0 0 1px;
margin: 0 0 2px -1px;
}
li.navTreeCurrentItem a,
li.navTreeCurrentItem a:hover {
display: block;
border: 1px solid #FFF;
min-height: 1.6em;
line-height: 1.6em;
height: auto;
}
/* */
* html li.navTreeCurrentItem a,
* html li.navTreeCurrentItem a:hover {
height: 1.6em;
}
.navTreeLevel0 { margin: 0; }
.navTreeLevel1 { margin-left: 1em;}
.navTreeLevel2 { margin-left: 0.75em; }
.navTreeLevel3 { margin-left: 0.75em; }
.navTreeLevel4 { margin-left: 0.75em; }
.navTreeLevel5 { margin-left: 0.75em; }
/* */

}


/* - invisibles.css - */
@media screen {
/* https://www.conhecimentos.cf/portal_css/invisibles.css?original=1 */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
ul.visualNoMarker,
ol.visualNoMarker {
list-style-type: none;
list-style-image: none;
margin: 0.5em 0 0 0;
}
.visualOverflow {
overflow: auto;
margin: 0 0 1em 0;
}
.visualOverflow pre,
.visualOverflow table,
.visualOverflow img {
margin: 0;
}
/* */
.hiddenStructure {
display: block;
background: transparent;
background-image: none; /* */
border: none;
height: 1px;
overflow: hidden;
padding: 0;
margin: -1px 0 0 -1px;
width: 1px;
}
.contentViews .hiddenStructure,
.contentActions .hiddenStructure {
position: absolute;
top: -200px;
left: -200px;
}
.hiddenLabel {
display: block;
background: transparent;
background-image: none; /* */
border: none;
height: 1px;
overflow: hidden;
padding: 0;
margin: -1px 0 0 -1px;
width: 1px;
}
/* */
.visualClear {
display: block;
clear: both;
}
/* */
.netscape4 {
display: none;
}
/* */
tr.dragging td {
background-color: #ff6 !important;
}
.draggingHook {
cursor: move;
}
.notDraggable {
}
/* */
}


/* - forms.css - */
@media screen {
/* https://www.conhecimentos.cf/portal_css/forms.css?original=1 */
/* */
/* */
textarea {
font: 100% Monaco, "Courier New", Courier, monospace;
border: 1px solid #ddd;
border-color:#666 #ddd #ddd #666;
color: Black;
background: White url(https://www.conhecimentos.cf/input_background.gif) repeat-x;
width: 100%;
}
input {
font-family: erdana, Lucida, Helvetica, Arial, sans-serif;
visibility: visible;
border: 1px solid #ddd;
border-color:#666 #ddd #ddd #666;
color: Black;
vertical-align: middle;
background: White url(https://www.conhecimentos.cf/input_background.gif) repeat-x;
font-size: 1em;
}
/* */
.noborder,
.documentEditable * .noborder {
border: none;
margin: 0;
background: none;
background-color: transparent;
}
input[type=checkbox] {
border: none;
margin: 0;
background: none;
background-color: transparent;
}
#searchGadget {
border: 1px solid #000;
}
button {
font-family: erdana, Lucida, Helvetica, Arial, sans-serif;
visibility: visible;
border: 1px solid #000;
color: Black;
vertical-align: middle;
background-color: #FFF;
padding: 1px;
cursor: pointer;
font-size: 90%;
text-transform: none;
}
select {
vertical-align: top;
}
form {
border: none;
margin: 0;
}
fieldset {
border: 1px solid #000;
margin: 1em 0em 1em 0em;
padding: 0em 1em 1em 1em;
line-height: 1.5em;
width: auto;
}
legend {
background: White;
padding: 0.5em;
font-size: 90%;
}
label {
font-weight: bold;
}
optgroup {
font-style: normal;
font-weight: bold;
color: #999;
padding-left: 0.25em;
}
option {
color: black;
}
optgroup > option {
padding: 0 0.25em 0 1em;
}
dl.enableFormTabbing dd {
margin-left: 0;
padding-top: 2em;
}
#login-form {
width: 30em;
margin: 0 auto;
}
#login-form .field {
clear: none;
}
#login-form input {
font-size: 150%;
}
#login-form input.context {
padding: 1px 10px 1px 20px;
background-position: 9px 5px;
margin-bottom: 1em;
}
#forgotten-password {
float: right;
width: 35%;
margin: 0 1em;
}
.standalone,
.documentEditable * .standalone {
background: #FFF url(https://www.conhecimentos.cf/linkOpaque.gif) 9px 1px no-repeat;
color: Black;
cursor: pointer;
font-size: 90%;
padding: 1px 1px 1px 15px;
text-transform: none;
border: 1px solid #000;
}
.context,
.formControls .actionButtons .button,
.documentEditable * .context {
background: transparent url(https://www.conhecimentos.cf/linkTransparent.gif) 9px 1px no-repeat;
color: Black;
cursor: pointer;
font-size: 90%;
padding: 1px 1px 1px 15px;
text-transform: none;
border: 1px solid #000;
}
.destructive,
.documentEditable * .destructive {
background: #ffce7b url(https://www.conhecimentos.cf/linkTransparent.gif) 9px 1px no-repeat;
border: 1px solid #ffa500;
color: Black;
cursor: pointer;
font-size: 90%;
padding: 1px 1px 1px 15px;
text-transform: none;
border: 1px solid #000;
}
input.searchButton {
margin-bottom: 1px ! important;
color: Black;
font-size: 90%;
background: White url(https://www.conhecimentos.cf/search_icon.gif) 2px 1px no-repeat;
cursor: pointer;
padding: 1px 1px 1px 19px;
text-transform: none;
border: 1px solid #000;
}
.searchSection {
color: #76797c;
margin-top: 0.25em;
}
.searchSection label:hover {
color: Black;
}
/* */
.field {
top: 0;
left: 0;
margin: 0 1em 1em 0;
clear: both;
}
.field .field {
margin: 0;
}
.fieldRequired {
background: url(https://www.conhecimentos.cf/required.gif) center left no-repeat;
padding: 0 0 0 8px;
color: White;
}
.fieldUploadFile {
text-align: right;
margin-right: 0.75em;
display: none;
}
.fieldTextFormat {
text-align: right;
margin-right: 0.75em
}
.formHelp {
font-size: 90%;
color: #76797c;
margin: 0 0 0.2em 0;
}
.formHelp:hover {
color: Black;
cursor: default;
}
div.error {
/* */
background-color: #fdc;
border: 1px solid #d00;
padding: 0.5em;
margin: 0 0 1em 0;
width: 95%;
}
.error .fieldRequired {
color: #d00;
}
/* */
#archetypes-fieldname-title input, input#form\.title {
font-size: 160%;
font-family: Verdana, Lucida, Helvetica, Arial, sans-serif;
font-weight: normal;
width: 99%;
}
#archetypes-fieldname-description textarea, textarea#form\.description {
font: 100% erdana, Lucida, Helvetica, Arial, sans-serif;
font-weight: bold;
}
input.inputLabelActive {
color: #76797c;
}
textarea#form\.description {
height: 6em;
width: 99%;
}
tr.selected {
background-color: #ffa;
}
.kupu-save-message {
color: white;
font-weight: bold;
background-color: red;
padding: 0.3em;
position: fixed;
top: 0;
right: 0;
z-index: 999;
}
/* */

}

